@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Montserrat:300,400,600,700|Playfair+Display:400,400i,700,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);




h2{
	color: #fff !important;
	font-family: 'Playfair Display', serif !important;
}
p{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif !important;
}
.fa-mob-close{
	display: none;
	cursor: pointer;
}




.input-group-addon, .input-group-btn{
	width: 10% !important;
}
.slider_artisan .slick_slider1{
	margin-top: 50px;
}
.slider_artisan .slick-prev {
    left: -6%;
    border: none;
    top: 32%;
}
.slider_artisan .slick-next {
    
    top: 32%;
    border: none;
    left: 100%;
    }
.slider_artisan .slick-slide{
        //margin-right: 31px;
       // width: 196px !important;
    }
.slick-next, .slick-prev{
     width: 28px;
     height: 28px;
}
.slick-prev::before {
    content: '\f053';
    font-family: FontAwesome;
    font-size: 15px;
    //line-height: 28px;
    color: #272727;	
}
.slick-next::before{
    content: '\f054';
    font-family: FontAwesome;
    font-size: 15px;
    //line-height: 28px;
    color: #272727;	
}


.latest_slider, .best_seller_slider{
	margin-top: 70px;
    //margin-left: 6.6%;
}

.latest_slider .slick-prev, .best_seller_slider .slick-prev{
    left: 4%;
    border: none;
    top: 45%;
    z-index: 999999;

}
.latest_slider .slick-next, .best_seller_slider .slick-next {
    
    border: none;
    top: 45%;
    left: 93%;
}
.latest_slider .slick-slide {
    //margin-right: 30px;
}

.slick-active{
    opacity: 1 !important;
}

.con_width{
	max-width: 1305px;
    margin: 0 auto !important;
    padding: 0px;
}
.tag_line{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	//font-style: italic;
	margin: 0 auto;
	color: #272727;
	font-size: 13px;
    line-height: 14px;
    background-color: #f9f9f9;
	//text-align: center;
	padding:10px 0px;
	//overflow: hidden;
}
.top_tag_text{
	//display: inline-block;
	//float: left;
}
.top_ico_container{
	//display: inline-block;
	//float: right;
}
.top_sng_drop{
	//display: inline;
	color: #027172;
	font-size: 13px;
	//margin-left: 50px;
	cursor: pointer;
}
.top_sng_drop #dropdownservice, .top_sng_drop #dropdowncurrency{
    color: #027172;
}
.top_sng_drop a{
	color: #027172 !important;
}
.top_sng_drop i{
	margin-right: 10px;
}
.top_drop_container{
	background-color: #f9f9f9;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 21px;
	color: #272727;
	padding: 13px 0px;
}
.top_drop_container span{
	cursor: pointer;

}
.new_yellow{
	background-color: yellow;
	font-size: 9px;
	line-height: 21px;
	padding: 4px 9px;
	border-radius: 5px;
	font-weight: 600;
	margin-right: 15px;
}
#top_drop_right {
   //float: right;
}

#dropdownhelp:first-child , #dropdownservice:first-child, #dropdowncurrency:first-child, #dropdownregister:first-child {
	font-family: 'Montserrat', sans-serif;
	color: #027172;
	font-size: 13px;
	
	
}
#dropdownhelp:first-child span, #dropdownregister:first-child span{
	margin-left: 15px;
}
#dropdowncurrency:first-child span{
	margin-left: 38px;
}
.offer_text{
	border-bottom: 1px solid #828282;
	padding-top: 15px;
}
.offer_text input{
	border: none;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 21px;
	color: #828282;

}
.offer_text span{
	font-size: 14px;
	color: #828282;
	
}
.top_logo_container{
	margin: 0 auto;
	padding: 13px 0px;

}

.logo_container{
	margin: 0 auto;
	float: none;
	text-align: left;

}
#srch{
   border-radius: 0px;
   border: 1px solid #108b3c;
   height: 44px;
}
.top_logo_container .input-group{
	width: 95%;
	height: 44px;
	margin-top: 8px;
}
.add_srch{
	border-radius: 0px !important;
	border: 1px solid #108b3c !important;
	border-left: 0px !important;
	background: #108b3c !important;
	color: #fff !important;
	cursor: pointer;
}
.wish_bag_container{
	position: relative;
	float: right;
	font-size: 40px;
	color: #108b3c;
}
.wish_bag_container a{
	
	font-size: 40px;
	color: #108b3c;
}
.wish_bag_container a:hover, .wish_bag_container a:focus{
	
	font-size: 40px;
	color: #108b3c;
}
.whish{
	float: left;
	margin-right: 66px;
}

.car_t{
	float: right;
}
.cart_count{
	font-size: 15px;
	border: 1px solid #f15c5a;
	border-radius: 50%;
	background: #f15c5a;
	color: #fff;
	padding: 1px 8px;
	position: absolute;
	top: 60%;
	left: 63%;
	font-weight: bold;
}
.wishlist{
	padding-top: 15px;
}
 .wishlist_ico, .cart_ico{
	font-size: 13px;
	color: #3f4d4a;
	margin-right: 5px;
}
 .wishlist_text, .cart_text, #cart_items{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 21px;
	color: #272727;

}
#cart_items{
	margin-right: -1px;
}
.cart_arrw{
	font-size: 13px;
	color: #272727;
	margin-left: 15px;
}

.top_logo_container .dropdown{
	cursor: pointer;
}

.nav_container{
	background-color: #f9f9f9;

}


.navbar-default{
	border: none !important;
	background-color: inherit !important;
	margin-bottom: 0px !important;
}
.navbar-nav li{

}
.navbar{
	min-height: 20px !important;
}
.navbar-nav li a{
		
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		line-height: 21px !important;
		color: #272727 !important;
		font-weight: 300;
}
.navbar-nav li a:hover,.navbar-nav li a:focus{
   color: #272727 !important;
   //font-weight: 600;
   text-decoration: underline !important;
}

.navbar-default .navbar-nav > .active > a{
	color: #108b3c !important;
	background: none !important;
}

#artisan_collection{
	margin: 0 auto;
	max-width: 970px;
	padding-bottom: 60px;
}

#lux_pash_wraps, #love_from_kmr, #deal_of_d_day, #u_cnt_wthot, #as_seen_on, #subscribe{
	margin: 0 auto;
	background-color: #f9f9f9;
	padding-bottom: 60px;

}

#latest_arrival, #story_from_valley, #best_seller, #testamonial{
	margin: 0 auto;
	padding-bottom: 60px;
}

#btm_nav{
	margin: 0 auto;
	padding-bottom: 10px;
}
#payement_partner{
	margin: 0 auto;
}
#footer_copyright{
  margin: 0 auto;
  background-color: #272727;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
  margin-top: 26px;
}
.sect_heading, .lux_pash_wraps_heading{
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   color: #272727;
   text-align: center;
   margin-top: 51px;
}
.sect_subheading, .lux_pash_wraps_subheading {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	color: #727272;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 17px;
	width: 55%;
}

.pash_wrapper{
	width: 370px;
	height: 404px;
	
	//border-radius: 5px;
}
.pash_wrapper_small{
	width: 370px;
	height: 190px;
	
	//border-radius: 5px;
}
.pash_small_container{
	
	margin: 0 auto;
}
.pash_small_container_pad{
	margin-bottom: 23px;
}
.rw_pad{
	margin-top: 45px;
}
.pash_wrap_headline{
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: 20px;
   color: #fff;
   position: absolute !important;
   z-index: 999999;
   top:47%;	
   //left: 35%;
   
}
.pash_small_headline{
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: 20px;
   color: #fff;
   position: absolute !important;
   z-index: 111;
   top:85px;
   //left: 35%;
}
.wrapper_overlay{
	height: 100%;
	width: 100%;
	background-color:#d8a47f;
	opacity: .56;
	//border-radius: 5px;
}
.pash_wrapper_subheading{
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	//width: 80%;
	z-index: 111;
	position: absolute !important; 
	top: 35%;
	//left: 10%;
	padding-right: 30px !important;
}
.pash_wrapper_small_subheading{
		margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	//width: 80%;
	z-index: 111;
	position: absolute !important; 
	top: 30%;
	//left: 10%;
	padding-right: 30px !important;
}
.btn-pash_wrap_pos{
   	z-index: 112;
	position: absolute !important;
	top: 75%;
}
.btn-pash_wrap_small_pos{
   	z-index: 112;
	position: absolute !important;
	top: 66%;
}
.btn-pash_wrap{
	font-family: 'Montserrat', sans-serif;
	color: #272727 !important;
	font-size: 15px !important;
	line-height: 24px !important;
	background-color: #ffffff !important;
	padding: 8px 28px !important;

	//left:30%;
	border: none !important;
}
.btn-pash_wrap span{
margin-left: 15px;
}






.video_container{
	margin-top: 42px;
	margin-bottom: 58px;

}
.testa_image{
	width: 270px;
	height: 96px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}


.rw_as{
	//max-width: 830px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
.rw_as img{
    opacity: 0.6;
}
.rw_as img:hover{
	opacity: 1;
}

#testamonial .sect_heading, #as_seen_on .sect_heading{
   margin-bottom: 10px;
}
.rw_sbs{
	margin-top: 23px;
}
.sbscribe_lbl{
	   font-family: 'Playfair Display', serif;
   	   font-weight: 700;
   	   font-size: 16px;
   	   line-height: 24px;
   	   color: #272932;
   	   //margin-left: 26px;
   	   margin-top: 6px;
  
}
#eml{
	width: 100%;
	height: 38px;
	border: 1px solid #9e9e9e;
	//margin-left: -34px;
	border-radius: 3px;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
  font-family: 'Montserrat' , serif;
  font-weight: 300;
  font-size: 14px;

}
::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
  font-family: 'Montserrat' , serif;
  font-weight: 300;
  font-size: 14px;

}

.btn_sbscribe{
	background-color: #f05d5e;
	font-family: 'Montserrat' , serif;
	font-weight: 600 !important;
	font-size: 14px !important;
	color: #fff !important;
	padding: 8px 28px !important;
	//margin-left: -20px;
	border-radius: 3px !important;

}
.cnnct{
	   font-family: 'Playfair Display', serif;
   	   font-weight: 700;
   	   font-size: 16px;
   	   line-height: 24px;
   	   color: #272727;
   	   padding-left: 45%;
   	   margin-top: 6px;
}



#btm_nav .container_pad{
	margin-top: 38px;
}
.footer_nav_heading{
	   font-family: 'Playfair Display', serif;
   	   font-weight: 700;
   	   font-size: 16px;
   	   line-height: 28px;
   	   color: #272727;
   	   margin-top: 30px;
   	   margin-bottom: 15px;
}
.footer_nav_subtxt{
  font-family: 'Montserrat' , serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  color: #727272;
  width: 89%;
}
.footer_nav_subtxt a{
	
	color:#108b3c;
}
.footer_nav_subtxt a:hover{
	
	color:#108b3c;
	text-decoration: underline;
}
.footer_nav li>a:hover{
	
	color:#151515;
	text-decoration: underline;
}
.footer_nav li>a{
     color:#151515;
     font-family: 'Montserrat' , serif;
     font-weight: 300;
     font-size: 13px;
     line-height: 27px;
}

.payement_partner_heading{
   	   font-family: 'Playfair Display', serif;
   	   font-weight: 700;
   	   font-size: 16px;
   	   line-height: 28px;
   	   color: #272727;
   	   text-align: center;
}
.payement_partner_ico{
	text-align: center;
	margin-top: 25px;
}

.copy_txt{
	font-family: 'Montserrat' , serif;
	font-size: 12px;
	color: #848484;
}
.copy_txt span{
    color: #108b3c;
}
.copy_txt a{

color: #108b3c;


}
.copy_txt a:hover, .copy_txt a:focus{
	color: #108b3c;
}
.lve_frm_kmr_wraper{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 371px;
	height: 364px;
	//border-radius: 5px;
    

}

.lve_frm_kmr_heart_ico{
	z-index: 111;
	color: #fff;
	position: absolute;
	top: 6%;
	left: 85%;
	font-size: 16px;
	cursor: pointer;
}

.btn-kmr_wrap{
	font-family: 'Montserrat', sans-serif;
	color: #272727 !important;
	font-size: 15px !important;
	line-height: 24px !important;
	background-color: #ffffff !important ;
	padding: 8px 28px !important;
	z-index: 112;
	position: absolute;
	top: 36%;
	left: 28%;
	border: none !important;
}

.btn-kmr_wrap span{
     margin-left: 15px;
}
.lve_frm_kmr_details{
	padding-top: 15px;
	background-color: #fff;

}
.kmr_details_headline a{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #272727;
	margin-left: 25px;
	font-weight: 300;
}
.kmr_details_subheading{
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 28px;
   color: #232323;
   padding-left: 25px;
   padding-bottom: 18px;
   
}

.txt_highlighted{
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	color: #108b3c;
	font-size: 14px;
    line-height: 28px;
}
.kmr_details_headline a:hover, .kmr_details_headline a:focus{
	color: #108b3c;
}
.stor_ful_img{
	width: 670px;
	height: 312px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	//border-radius: 5px;
}
.story_detials{
	background-color: #f9f9f9;
	padding: 20px 27px;
}
.story_title{
    	   font-family: 'Playfair Display', serif;
   	       font-weight: 700;
   	       font-size: 20px;
   	       line-height: 24px;
   	       color: #272932;
}
.story_exert{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #5a5a5a;
	margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;

}
.story_detials a{
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	font-size: 14px;
	color: #108b3c;
}
.story_detials a:hover, .story_detials a:focus{
	color: #108b3c;
}
.story_detials a > span{
	margin-left: 10px;
}
.stor_smal_img{
		width: 470px;
	height: 230px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	//border-radius: 5px;
}
.story_sml_title{
	position: relative;
	background-color: #272727;
	width: 100%;
	top: 77%;
	padding: 15px;
	opacity: 0.9;
	//border-bottom-right-radius: 5px;
	//border-bottom-left-radius: 5px;
}
.story_sml_title a{
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   color: #fff;

}
.story_sml_title a:hover, .story_sml_title a:focus{
   color: #fff;
   text-decoration: none;  
}
.img_mar{
	margin-top: 5%;
}
.col_mar{
	margin-bottom: 26px;
}
.deal_of_d_day_title{
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 40px;
   color: #232323;
}
.deal_of_d_day_rating{
	color: #ff8400;
	font-size: 15px;
	line-height: 28px;
}
.deal_of_d_day_rating i{
	margin-left: 3px;
}
.deal_of_d_day_exert{
		font-family: 'Montserrat', sans-serif;
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 300;
	    color: #6c6c6c;
	    padding: 25px 50px 25px 0px;
}
.deal_of_d_day_price{
		font-family: 'Montserrat', sans-serif;
	    font-size: 14px;
	    line-height: 28px;	
	    color: #232323;
	    margin-bottom: 17px;
}
.btn-dotd{
    background-color: #108b3c;
    border: none !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px !important;
    line-height: 24px !important;
    color: #fff !important;
    padding: 10px 30px !important;
}
.btn-dotd .fa{
	margin-left: 8px;
    vertical-align: middle;
}
#hours, #minutes, #seconds{
	font-weight: 600;
	font-size: 18px;
}
.dotd_image_container{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 470px;
   height: 303px;

}
.sale {
width: 0;
height: 0;
border-top: 72px solid #232323;
border-bottom: 72px solid transparent;
border-right: 72px solid transparent;
border-left: 72px solid #232323;
position: absolute;
/*top: 0;
left: 15px;*/
//border-top-left-radius: 5px;
}
.sale_txt{
	
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: -65px;
    left: -58px;
	font-size: 20px;
	width: 20%;
}
.artsan_slider{
	margin: 0 auto;
	max-width: 980px;
	margin-top: 64px;	
	max-height: 275px;
}

.col_as-3 img{
	width: 168px;
	height: 168px;
	//margin-left: 6px;
}

.col_as-3{

//position: relative;
//float: left;
/*   	padding-left: 15px;
   	padding-right: 15px;*/
}
.tag_line_bottom{
    font-family: 'Playfair Display', serif;
	background: #272932;
	color: #fff;
	font-style: italic;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
    padding: 11px 0px;
}


.art_heading{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: #272932;
	margin-top: 18px;
	//margin-left: 7px;
	margin-bottom: 6px;
}
.art_subheading{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 28px;
	color: #272727;
	//margin-left: 7px;
	margin-bottom: 18px;
}
.col_as-3 a{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		font-size: 14px;
	    line-height: 24px;
	    color: #108b3c;
	    //margin-left: 7px;
}
.col_as-3 a > span{
	margin-left: 10px;
	vertical-align: middle;
}
.col_as-3 a:hover, .col_as-3 a:focus{
	color: #f1720e;
}
.art_scroller{
	display: inline-block;
	border: 1px solid #232323;
	padding: 2px 10px;
	margin-right: 13px;
	border-radius: 2px;
	margin-bottom: 30px;
	margin-top: 40px;
	cursor: pointer;
}

.art_nav{
	margin-right: 9px;
}

.latest_wrapper{
	width: 270px;
	height: 264px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: block;
}
.latest_ico{
	z-index: 111;
	color: #fd461c;
	position: absolute;
	top: 6%;
	left: 85%;
	font-size: 16px;
	cursor: pointer;
}
.btn-latest{
	position: absolute;
	z-index: 1111;
	top: 38%;
	left: 31%;
	background: #fff;
}
.latest_details{
   background-color: #f9f9f9;
    padding-top: 3px;
}

.col-latest-3{
	width: 270px;
	display: block;
	float: left;
	position: relative;
}
.latest_heading{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 28px;
	color: #272727;
	margin-left: 7px;
	cursor: pointer;
	font-weight: 300;

}
.latest_heading:hover, .latest_heading:focus{
    color: #108b3c; 

}
.latest_price{
	float: right;
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #000;
	margin-right: 7px;
	font-size: 15px;
}
.latest_rating{
	color: #ff8400;
	font-size: 15px;
	line-height: 28px;
	margin-left: 7px;
}
.btn-latest span{
margin-left: 10px;


}
.col-latest-3 .wrapper_overlay{
   border-radius: 0px;
}

.col-latest-3 .sale{
    border-top-left-radius: 0px;
}

.rw_search{
	margin-left: 0px !important;
}


/*testamonial css start*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
 /* opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;*/
}
#fade-quote-carousel.carousel .carousel-inner .active {
 /* opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;*/

}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: -30px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #7b7b7b;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    border-radius: 100px;
 
}
#fade-quote-carousel.carousel .carousel-indicators  .active {
	background-color: #272727;
}
.testa_name{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 41px;
    color: #272727;
    padding-left: 16px;
}
.testa_cntry{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 41px;
    color: #7f7f7f;	
    padding-left: 16px;
    margin-top: -16px;
}
.item p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: #232323;
	//margin-top: 25px;
	//width: 90%;
	padding-left: 16px;
	padding-right: 12px;
}


    /*testamonial css ends*/


     /*Clock css starts*/
#clockdiv{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 16px;
	margin-bottom: 30px;
}

#clockdiv > div{
	padding: 5px;
	border-radius: 3px;
	background: #f9f9f9;
	display: inline-block;
}

#clockdiv div > span{
	padding: 4px;
	border-radius: 3px;
	background: #000;
	display: inline-block;
}

.smalltext{
	font-family: 'Montserrat', sans-serif;
	padding-top: 5px;
	font-size: 15px;
	color: #000;
}
    /*clock css ends*/





.bs-slider{
    overflow: hidden;
    max-height: 490px;
    position: relative;
    background: #000000;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}

/********************
*****Slide effect
**********************/

.fade {
    //opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    //opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
   /* -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;*/
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
  /*  -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;*/
}






/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    //opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}





/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 10px;
    height: 10px;
    //border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    //box-shadow: 0 0 0 2px #fff;
    background-color: #f05d5e;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    border:none;

}
.indicators-line > .carousel-indicators .active:before{
    /*transform: scale(0.5);
    background-color: #fff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;*/
}



/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}

.slide-text {
    //left: 0;
    top: 10%;
    //right: 0;
    //width: 50%;
   // margin: auto;
    padding: 10px;
    position: absolute;
    //text-align: left;
   // padding: 10px 110px;
    
}
.carousel_heading{
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	width: 45%;
	font-size: 40px;
	line-height: 46px;
	color: #fff;
	margin-bottom: 18px;
}
.carousel_sub_heading{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	width: 50%;
	margin-bottom: 33px;
}
.carousel_price{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	margin-bottom: 30px;
}
.btn-caousal{
	font-family: 'Montserrat', sans-serif;
	color: #fff !important;
	font-size: 14px !important;
	line-height: 24px !important;
	background-color: #f05d5e;
	padding: 8px 40px !important;

}
.btn-caousal:hover, .btn-caousal:focus{
	background-color: #e0494a !important;
}
.btn-caousal span{
	margin-left: 10px;
}
.slide-text > h1 {
    
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}







      /*catagory page css*/

#top_banner{
	margin: 0 auto;
}
.banner_img{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 88px;
	padding-bottom: 104px;

}

#top_banner h2{
	line-height: 41px;
	text-align: center;
	font-weight: 700;
}
#top_banner p{
	line-height: 24px;
	text-align: center;
	color: #fff;
	width: 46%;
	margin-left: 26%;
	font-weight: 300;
}

#breadcrums{
	background-color: #f9f9f9;
	margin: 0 auto;
	font-size: 13px;
	line-height: 21px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #282828;
	padding-top: 20px;
	padding-bottom: 20px;

}
#breadcrums a{
	color: #282828 !important;
}
#catagory_details{
	background-color: #f9f9f9;
	margin: 0 auto;
}
.col_heading{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 41px;
	color: #272727;
}
.sort_tabs div{
	display: inline-block;
	font-size: 18px;
    line-height: 41px;
	padding: 0px 10px;
    color: #272727;
}
.sort_tabs .active{
	color: #fff;
	background-color: #272727;
}
.sort_tabs{
	display: inline-block;
}
.sort_drop{
	display: inline-block;
	float: right;
    //line-height: 41px;
    background: url(http://127.0.0.1/kashmirbox/images/select_sep.png) no-repeat 96% 0;
	height: 33px;
	overflow: hidden;
	width: 168px;
	border: 1px solid #c1c1c1;
}
#sort_select{
	background: transparent;
	border: none;
	height: 33px;
	padding: 5px;
	width: inherit;
	color: #666666;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.filter_single{
    
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 5px;
}
#ajx_val{
	position: absolute;
    width: 89%;
    background: white;
    z-index: 9999;
    padding: 15px;
}
.pad-0{
	padding: 0px !important;
}
.pad-t-0{
	padding-top: 0px !important;
}
.pad-b-0{
	padding-bottom:  0px !important;
}
.pad-b-35{
	padding-top: 35px;
}
.pad-b-35{
	padding-bottom: 35px;
}
.pad-r-0{
	padding-right: 0px !important;
}
.pad-l-0{
	padding-left: 0px !important
}
.pad-l-30{
	padding-left: 30px;
}
.mar-t-40{
	margin-top: 40px;
}
.mar-b-30{
	margin-bottom: 30px;
}
.mar-t-15{
	margin-top: 15px;
}
.mar-b-25{
	margin-bottom: 25px;
}
.mar-t-30{
	margin-top: 30px;
}
.mar-l-15{
	margin-left: 15px;
}
#slider-min, #slider-max{
	width: 100%;
	font-family: 'Montserrat', serif;
	font-weight: 300;
	font-size: 15px;
	color: #666666;
	text-align: center;

}

.filter_headings{
	font-family: 'Montserrat', serif;
	font-size: 13px;
	line-height: 21px;
	color: #282828;
}

.filter_check{
	font-size: 13px;
	font-family: 'Montserrat', serif;
	font-weight: 300;
	line-height: 28px;
}

.filter_check label{
	font-weight: 300 !important;
}

.filter_check input[type="checkbox"]{
	margin: 7px 0 0;
}

.filter_ico{
	color: #282828;
	font-size: 15px;
	line-height: 21px;
	cursor: pointer;
}
.offer_img_container{
	width: 100%;
	height: 343px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.product_text{
	font-family: 'Montserrat', serif;
	font-size: 14px;
	line-height: 18px;
	color: #272727;
}
.product_text a{
	font-family: 'Montserrat', serif;
	font-size: 14px;
	line-height: 18px;
	color: #272727;
}
.product_text a:hover{
    color: #272727;
}
.product_ico{
	color: #ff8400;
	font-size: 13px;
	line-height: 28px;
}
.sort_tabs div{
	cursor: pointer;
}
.product_single{
	//background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 15px;
	//margin-left: 30px;
}
.product_single_desc{
	background-color: #fff;
}
.product_single_img{
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.height_img_grid{
   height: 259px;
}
.height_img_list{
	height: 205px;
}
.product_single_name{
	font-family: 'Montserrat', serif;
	font-size: 16px;
	line-height: 20px;
	color: #272727;
}
.product_single_name_grid{
	cursor: pointer;
}
.product_single_name_grid:hover{
	text-decoration: underline;
}
.product_single_wishlist{
	font-family: 'Montserrat', serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #272727;
	cursor: pointer;
}
.product_single_wishlist i{
    margin-right: 7px;
}
.product_single_wishlist_grid{
	position: absolute !important;
	top: -250px;
	left: 0px;

}
.product_single_rating{
     font-size: 11px;
     color: #ff8400;
     line-height: 28px;
}
.product_single_price{
	font-family: 'Montserrat', serif;
	font-size: 15px;
	line-height: 28px;
	color: #272727;

}
.actual_price{
	text-decoration: line-through;
	color: #878787;
	margin-right: 30px;
}
.ready_to_ship{
	font-family: 'Montserrat', serif;
	font-size: 12px;
	line-height: 15px;
    color: #707070;
    top: -15px;
}
.ready_to_ship span{
   width: 60%;
   display: inline-block;
}
.ready_to_ship i{
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	font-size: 22px;
    margin-top: 3px;
}
.ready_to_ship_grid{
   position: absolute !important;
	text-align: right;
	top: -40px !important;
}
.ready_to_ship_grid span{
    width: 18%;
	display: inline-block;
	text-align: left;
	margin-right: 16px;
}



.product_single_detail{
	font-family: 'Montserrat', serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: #232323;
	margin-top: 20px;	
}
.btn-single-product button{
	background-color: #ffc600;
	font-family: 'Montserrat', serif;
	font-size: 14px !important;
	line-height: 41px !important;
	padding: 0px 33px !important;
	color: #272727;
}


.price_grid{
	position: absolute !important;
	left: 66%;
	text-align: right;
	top: 10px;
}

.btn-single-product-grid{
	    text-align: center;
	    position: absolute !important;
	    top: -215%;
        left: 0px;
}
.btn-single-product-grid button{
	background-color: #fff;
	font-family: 'Montserrat', serif;
	font-size: 14px !important;
	line-height: 24px !important;
	padding: 6px 28px !important;
	color: #272727;
}

     .slick-slide{
     	//opacity: .4;
     }
.product_single_img .sale{
	top:0px !important;
}
.tooltip {
	display: none !important;
}
.slider-handle{
	cursor: grab;
}
.slider-handle:active{
	cursor: grabbing;
}
.fa_grid{
	cursor: pointer;
	color: #fd461c;
}
.btn_more{
	background-color: #272727;
	color: #fff;
	border-radius: 3px !important;
	font-family: 'Montserrat', serif;
	font-size: 14px !important;
	line-height: 28px !important;
	padding-left: 32px !important;
    padding-right: 32px !important;
    margin-top: 60px;
	margin-bottom: 55px !important;
	margin-left: 25%;
}
.btn_more:hover, .btn_more:focus{
	color: #fff !important;
}










.ajx_img img{
	width: 100%;
	max-height: 70px;

}
.ajx_txt a{
	font-family: 'Montserrat', serif;
	color: #272727;
	

}
.ajx_price{
		font-family: 'Montserrat', serif;
	    color: #272727;
	   
}
.ajx_txt a:hover{
	color: #272727 !important;
}


#ajx_val title{
	display: block;
	font-size: 18px;
	line-height: 41px;
	margin-left: 15px;
	//margin-bottom: 15px;
	color: #272727;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}











/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (min-width: 1500px){
	.latest_slider .slick-prev, .best_seller_slider .slick-prev{
    left: 6%;
  

}
}
@media (min-width: 2300px){
	.latest_slider .slick-prev, .best_seller_slider .slick-prev{
    left: 4%;
  

}
	.latest_slider .slick-next, .best_seller_slider .slick-next{
    left: 96%;
  

}
}
@media (min-width: 1400px){
	.col-latest-3{
         	margin-left: 30px;
         }
}
@media (max-width: 5000px){
	     .slick-slide{
     	    opacity: .4;

         }
         
}
@media (max-width: 1824px) and (min-width: 1601px) {
	     .slick-slide{
     	    opacity: .4;

         }
         
}
@media (max-width: 1600px){
	     .slick-slide{
     	    opacity: .4;

         }
         
}
@media (max-width: 1400px){
	     .slick-slide{
     	    opacity: .4;

         }
         
}

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
	.fa-mob-close{
		
		color: #000;
		position: fixed;
		z-index: 99999;
		top: 3%;
		right: 12%;

	}
	.navbar-nav{
		margin: 0 auto !important;
	}
    .slide-text {
        padding: 0px 23px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }
    .bs-slider > .carousel-inner > .item > img, .bs-slider > .carousel-inner > .item > a > img {
    	height: 200px;
    }
    .sect_heading, .lux_pash_wraps_heading{
    	font-size: 20px;
    }
    .sect_subheading, .lux_pash_wraps_subheading{
    	font-size: 12px;
		line-height: 16px;
		margin-top: 5px;
		width: 75%;
    }
    .text-center img{
    	width: 90%;
    }
    .pash_wrapper {
    width: 278px;
    height: 314px;
    border-radius: 3px;
   }
   .wrapper_overlay{
   	border-radius: 3px;
   }
}
@media  (max-width: 480px) {
    .slide-text {
        padding: 0px 23px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

    .latest_slider .slick-next, .best_seller_slider .slick-next{
		left: 83%;
	}
	    .stor_ful_img{
    	
		height: 169px;
    }
    .stor_smal_img{
    	
    	height: 231px;
    	
    }
    	.btn-dotd{
		//font-size: 14px !important;
		//padding: 8px 22px !important;
		//width: 90%;
        //margin-left: 5%;
        padding: 8px 15px !important;
	}
	    .btn_sbscribe{
    	width: 100%;
    	margin-left: 0px;
    }
}

@media screen and (max-width: 350px){
   .carousel_heading{
   	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20%;
	width: 100%;
   }

    .story_sml_title{
       padding: 7px 10px 7px 5px;
    }

}

@media screen and (max-width: 776px ) and (min-width: 351px){
		.carousel_heading{
		font-size: 20px;
		line-height: 26px;
		width: 100%;
		margin-bottom: 20%;
	}
		.story_sml_title {
	       padding: 17px 10px 17px 5px;
	    }
}







@media screen and (max-width: 776px){
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-size: 8px;

	}
	::-moz-placeholder { /* Firefox 19+ */
      font-size: 8px;

	}
	.testa_image{
		width: 200px;
	}
	#myNavbar {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    width: 100%; /*example + never use min-width with this solution */
	    //height: 100%;
    }
	.top_tag_line{
		font-size: 13px;
		line-height: 16px;
	}
	.top_logo_container{
		//padding: 0px;
		//margin-top: -20px;
	}
  
     .rw_sbs img{
       margin-right: 10px;
     }
     .whish{
     	display: none;
     }
     .car_t{
     	//position: relative;

       }
     .col_pos{
     	position: absolute !important;
     	left: 64%;
     }
     .mob_pos{
     	//position: absolute !important;
		top: 7px;
		left: 20%;
     }
     .top_tag_text{
     	display: none;
     }
     .top_sng_drop{
     	display: none;
     }
     .top_sng_drop_mob{
     	display: block;
		//top: 83px;
		left: 82%;
		font-size: 26px;
		position: absolute !important;
		z-index: 9999999;
		text-align: right !important;
     }
     #srch{
     	height: 35px;
     }
     .top_logo_container .input-group{
     	height: 35px;
     }
     .form-control{
     	-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
     }
     .top_sng_drop_mob span{
        display: none;
     }
     .wish_bag_container{
       font-size: 0px;
     }
     .car_t a{
     	font-size: 30px;
     	vertical-align: bottom;
     	vertical-align: -moz-middle-with-baseline;
     	color: #108b3c;
     }
     .car_t a:hover{
     	font-size: 30px;
     	color: #108b3c;
     }
     .cart_count{
     	font-size: 11px;
     	padding: 0px 5px;
     }
     .nav_container{
     	margin-top: 15px;
     	margin-bottom: 15px;
     	background-color: transparent;
     	z-index: 99999999999999;
		position: absolute;
		//top: 57px;
     }
     .rw_mar_mo{
     	margin-top: 20px;
     }
    .carousel_sub_heading{
    	font-size: 13px;
		line-height: 18px;
		width: 100%;
		margin-bottom: 0px;
		display: none;
    }
    .carousel_price{
    	font-size: 12px;
    	margin-bottom: 0px;
		display: inline;
    }
    .btn-caousal{
    	padding: 7px 17px !important;
    	font-size: 12px !important;
    	margin-left: 13px;
    }
    .pash_wrapper{
      width: 100%;
      height: 315px;
      margin-bottom: 15px;
    }
     .pash_wrapper_small{
     	width: 100%;
     	height: 140px;
     	margin-bottom: 15px;
     }
    .pash_wrap_headline{
    	font-size: 14px;
    	font-weight: 700;
    	top: 47%;
    }
    .pash_small_headline{
        font-size: 14px;
        top: 44%;
        //left: 30%;

     }
     .slick-active{

     	opacity: 1 !important;
     }
     .slick-slide{
     	opacity: .4;
     }
    .pash_wrapper_subheading{
    	font-size: 13px;
		line-height: 20px;
		text-align: center;
		left: 7%;
    }
    .btn-pash_wrap{
    	left: 26%;
    }
    .pash_small_container_pad{
    	margin-bottom: 0px;
    }
    .latest_slider .slick-prev, .best_seller_slider .slick-prev{
    	left: 6%;
    }
    .latest_slider .slick-slide {
      //margin-right: 21px;
	}

	.col-latest-3{
		width: 246px;
	}
	.latest_wrapper{
		width: 246px;
		height: 238px;
	}
	.lve_frm_kmr .rw_pad{
		padding-right: 15px;
	}
	.lve_frm_kmr .col_mar{
		padding-right: 0px !important;
	}
	.lve_frm_kmr_wraper{
		width: 100%;
		height: 137px;
		border-radius: 0px;
	}
	.lve_frm_kmr_heart_ico{
       top: 3%;
		left: 86%;
		font-size: 9px;
	}
	.btn-kmr_wrap{
		top: 25%;
		left: 29%;
		padding: 6px 9px !important;
		font-size: 8px !important;
		line-height: 12px !important;
	}
	.btn-kmr_wrap span {
       margin-left: 4px;
    }
    .kmr_details_headline a{
    	font-size: 13px;
		line-height: 15px;
		margin-left: 6px;
		font-weight: 400;
    }
    .kmr_details_subheading{
    	padding-left: 6px;
    	font-weight: 300;
		font-size: 12px;
		line-height: 15px;
		margin-top: 3px;
		padding-bottom: 13px;
    }
    .txt_highlighted{
    	margin-left: 6px;
		padding-bottom: 15px;
		font-size: 13px;
		line-height: 15px;
    }
    .stor_ful_img{
    	border-radius: 3px;
		width: 100%;
		//height: 169px;
    }
    .story_detials{
    	padding: 20px 0px 20px 10px;
    	margin-bottom: 50px;
    }
    .story_title{
        font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: #272727;
		letter-spacing: 1px;
    }
    .story_exert{
    	font-size: 13px;
		line-height: 21px;
		margin-top: 10px;
        margin-bottom: 10px;
    }
    .stor_smal_img{
    	width: 100%;
    	//height: 231px;
    	border-radius: 3px;
    }
    .story_sml_title a{
    	font-size: 14px;
		line-height: 20px;
		margin-left: 16px;
		display: block;
    }
    .img_mar {
    margin-top: 15px;
    }
    .img_mar .story_sml_title{
    	padding: 17px 10px 17px 5px;
    }
    .deal_of_d_day_title{
    	font-size: 18px;
		line-height: 40px;
		margin-top: 191px;
    }
    .deal_of_d_day_rating i {
    	margin-left: 2px;
	}
	.deal_of_d_day_exert{
		padding: 15px 10px 25px 0px;
		font-size: 14px;
		line-height: 21px;
	}
	.deal_of_d_day_price{
		font-size: 15px;
		line-height: 28px
		margin-bottom: 10px;
	}
	.dotd_image_container{
		width: 100%;
		height: 174px;
	}

	#u_cnt_wthot .rw_pad{
		padding-right: 15px;
	}
	#u_cnt_wthot .col_mar{
		padding-right: 0px !important;
	}
	iframe{
		width: 100%;
		height: 180px;
	}
	#fade-quote-carousel.carousel {
        padding-bottom: 0px;
    }
    .item p{
    	margin-bottom: 40px;
    	width: 100%;
    }
    .col_as-2{
        width: 30%;
        margin-bottom: 26px;
        display: inline-block;
    }
    .rw_as img {
	    opacity: 0.6;
	    width: 39px;
	    height: 39px;
    }
    .tag_line{
    	font-size: 13px;
		line-height: 0px;
		padding: 0px 0px;
		//display: none;
		background: #fff;
    }
    .rw_sbs{
    	padding: 15px;
		text-align: center;
    }
    .sbscribe_lbl{
    	font-size: 18px;
		line-height: 23px;
		margin-bottom: 20px;
		margin-left: 0px;


    }
    #eml{
    	border-radius: 3px;
		margin-bottom: 15px;
		margin-left: 0px;
    }

    .cnnct{
    	font-size: 18px;
		line-height: 23px;
		margin-top: 70px;
		margin-bottom: 35px;
		padding-left: 0%;
    }
    .footer_logo{
    	text-align: center;
    }
    .footer_logo img{
    	//width: 85%;
    }
    .footer_nav_heading{
    	font-size: 16px;
		line-height: 21px;
    }
    .footer_nav_subtxt{
    	line-height: 17px;
    	width: 100%;
    }
    .payement_partner_heading{
    	font-size: 16px;
		line-height: 21px;
    }
    .slider_artisan .slick-prev{
    	left: 9%;
		z-index: 9999;
		top: 32%;
    }
    .slider_artisan .slick-next{
    	left: 80%;
        top: 32%;
    }
    .sale{
    	border-top: 52px solid #232323;
		border-bottom: 52px solid transparent;
		border-right: 52px solid transparent;
		border-left: 52px solid #232323;
		border-top-left-radius: 0px;
    }
    .sale_txt{
    	top: -49px;
		left: -42px;
		font-size: 15px;

    }
    #dropdowncurrency{
     display: none;
    }
    .top_drop_container .col-xs-8,.top_drop_container .col-xs-6,.top_drop_container .col-xs-4{
    	padding: 0px;
    }
    #dropdownhelp:first-child, #dropdownservice:first-child, #dropdowncurrency:first-child, #dropdownregister:first-child {
    	font-size: 12px;
		padding: 15px 5px 15px 5px;
		text-align: center;
		border-bottom: 1px solid #c2c2c2;
    }
   

    .footer_nav_heading button{
       float: none;
       padding: 0px;
       margin: 0 auto;
    }
    .footer_nav_heading .fa{
    	margin-left: 10px;
    }
    .rw_mb{
    	//margin: 0 auto;
    }
    .navbar-header span{
    	font-size: 12px;
    }
    #btm_nav .navbar-header{
    	margin: 0 auto;
    }
    .nav_container .navbar-toggle{
    	float: left;
    }
    .col_mar {
	    margin-bottom: 10px;
	    padding-left: 5px !important;
	    padding-right: 5px !important;
    }
    .display_none_mob{
    	display: none;
    }

}

@media screen and (max-width: 1200px) and (min-width: 777px){
    .carousel_heading{
    	font-size: 30px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .carousel_sub_heading {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
    }
    .carousel_price {
    	font-size: 16px;
    	margin-bottom: 10px;
    }
    .slider_artisan .slick-prev{
    	left: -3%;
    }
    .sect_heading, .lux_pash_wraps_heading{
    	font-size: 26px;
        line-height: 35px;
    }
    .sect_subheading, .lux_pash_wraps_subheading{
    	font-size: 13px;
        line-height: 20px;
    }
    section .text-center > img{
    	width: 75%;
    }
    .testa_image{
    	width: 100%;
    }
}
@media screen and (min-width: 777px) and (max-width: 1279px){
	.col_as-2{
		   	width: 16.666%;
			display: inline-block;
   }
   .pash_wrapper{
	   	width: 100%;
	   	height: 320px;
   }
   .pash_wrapper_small{
          width: 100%;
          height: 154px;
   }
   .pash_small_container_pad {
      margin-bottom: 12px;
   }
   .pash_wrap_headline, .pash_small_headline{
   	font-size: 18px;
   }
   .pash_wrapper_subheading{
   	 font-size: 14px;
   	 top: 25%;
   }
   .pash_wrapper_small_subheading{
     font-size: 14px;
   }
   .btn-pash_wrap_pos {

    top: 80%;
}	
   .btn-pash_wrap{
   	padding: 6px 17px !important;
   }
   .lve_frm_kmr_wraper{
   	width: 100%;
   	height: 320px;
   }
   .stor_ful_img {
    width: 100%;
    height: 280px;
   }
   .story_sml_title a{
   	font-size: 16px;
   }
   .stor_smal_img {
    width: 100%;
    height: 228px;
   }
   .dotd_image_container{
   	width: 100%;
   	height: 250px;
   }

}

@media screen and (min-width: 1280px){
	.container_pad{
		margin: 0 auto;
	padding: 0px !important;
     }
   .col_as-2{
   	width: 16.666%;
	display: inline-block;
   }
   #ft_mre, #or_cmpny, #top_cata{
   	padding: 0px;
   }
}


@media screen and (max-width: 350px){
	   .logo_container img{
     	width: 200px;

     }
         .top_sng_drop_mob{
     	
		top: 74px;
		
     }
     .nav_container{
     	top: 48px;
     }
}

@media screen and (min-width: 351px) and (max-width: 776px){
	   .logo_container img{
     	width: 250px;

     }
     .top_sng_drop_mob{
     	
		top: 83px;
		
     }
     .nav_container{
     	top: 57px;
     }
}
@media screen and (min-width: 481px) and (max-width: 776px){
	.latest_slider .slick-next, .best_seller_slider .slick-next{
		left: 90%;
	}
	.stor_ful_img{
    	
		height: 270px;
    }
    .stor_smal_img{
    	
       height: 270px;
    	
    }
    .story_sml_title{
    	top: 80%;
    }
    	.btn-dotd{
		//font-size: 14px !important;
		//padding: 8px 22px !important;
		//width: 70%;
        //margin-left: 15%;
	}
	#eml{
		width: 80%;
	}
	    .btn_sbscribe{
    	width: 80%;
    	margin-left: 0px;
    }
}
@media screen and (min-width: 1261px){
	.navbar-nav li a{
       padding: 13px 31px 13px 15px !important;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1260px){
	.navbar-nav li a{
	padding: 13px 23px 13px 15px !important;
 }
}
@media screen and (min-width: 990px) and (max-width: 1199px){
	.navbar-nav li a{
	padding: 13px 3px 13px 15px !important;
 }
 .top_sng_drop_mob{
 	padding-left: 0px !important;
 }
 .top_sng_drop{
 	font-size: 12px;
 }
 #dropdownhelp:first-child, #dropdownservice:first-child, #dropdowncurrency:first-child, #dropdownregister:first-child {

    font-size: 12px;
}
}
@media (min-width: 768px) and (max-width: 989px) {
.logo_container img{
 width: 100%;
}
.input-group{
	height: 35px;
}
.srch{
	height: 35px;
}
.wish_bag_container a{
	font-size: 35px;
}
.wish_bag_container a:hover{
	font-size: 35px;
}
}
@media (max-width: 990px) and (min-width: 777px){
  .navbar-header {
        float: none;
        display: block;
    }
    .navbar-default .navbar-toggle{
    	display: block !important;
    }
    .navbar-nav{
    	//display: none !important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-nav {
        float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none !important;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	 .navbar-collapse.collapse {
        display: none !important;
    }
    #myNavbar{
    	display: none !important;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-size: 8px;

	}
	::-moz-placeholder { /* Firefox 19+ */
      font-size: 8px;

	}
#myNavbar {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    width: 100%; /*example + never use min-width with this solution */
	    //height: 100%;
    }
	.top_tag_line{
		font-size: 13px;
		line-height: 16px;
	}
	.top_logo_container{
		//padding: 0px;
		//margin-top: -20px;
	}
  
     .rw_sbs img{
       margin-right: 10px;
     }
     .whish{
     	display: none;
     }
     .car_t{
     	//position: relative;

       }
.mob_pos{
     	//position: absolute !important;
		top: 55px;
		//left: 20%;
     }
     .top_tag_text{
     	display: none;
     }
     .top_sng_drop{
     	display: none;
     }
     .top_sng_drop_mob{
     	display: block;
		top: 83px;
		left: 148%;
		font-size: 26px;
		position: absolute !important;
		z-index: 9999999;
		text-align: right !important;
     }
     #srch{
     	height: 35px;
     }
     .top_logo_container .input-group{
     	height: 35px;
     }
     .form-control{
     	-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
     }
     .top_sng_drop_mob span{
        display: none;
     }
     .wish_bag_container{
       font-size: 0px;
     }
     .car_t a{
     	font-size: 30px;
     	vertical-align: bottom;
     	vertical-align: -moz-middle-with-baseline;
     	color: #108b3c;
     }
     .car_t a:hover{
     	font-size: 30px;
     	color: #108b3c;
     }
     .cart_count{
     	font-size: 11px;
     	padding: 0px 5px;
     }
     .nav_container{
     	margin-top: 0px;
     	margin-bottom: 15px;
     	background-color: transparent;
     	z-index: 99999999999999;
		//position: absolute;
		//top: 57px;
     }
     .rw_mar_mo{
     	margin-top: 20px;
     }
     #dropdowncurrency{
     display: none;
    }
    .top_drop_container .col-xs-8,.top_drop_container .col-xs-6,.top_drop_container .col-xs-4{
    	padding: 0px;
    }
    #dropdownhelp:first-child, #dropdownservice:first-child, #dropdowncurrency:first-child, #dropdownregister:first-child {
    	font-size: 12px;
		padding: 15px 5px 15px 5px;
		text-align: center;
		border-bottom: 1px solid #c2c2c2;
    }
.navbar-header span{
    	font-size: 12px;
    }
 .nav_container .navbar-toggle{
    	float: left;
    }
.display_none_mob{
    	display: none;
    }
    .tag_line{
    	font-size: 13px;
		line-height: 0px;
		padding: 0px 0px;
		//display: none;
		background: #fff;
    }
         .col_pos{
     	position: absolute !important;
     	left: 64%;
     }
}
@media screen and (min-width: 550px) and (max-width: 776px){
 .container{
 	max-width: 420px;
 }
 iframe {
    
    height: 221px;
}

}
@media screen and (min-width: 550px) and (max-width: 600px){
 .nav_container{
 	left: 12%;
  }
  .col_pos{
    left: 50%;
    }

}
@media screen and (min-width: 601px) and (max-width: 660px){
 .nav_container{
 	left: 17%;
  }
  .col_pos{
    left: 48%;
    }

}
@media screen and (min-width: 661px) and (max-width: 776px){
 .nav_container{
 	left: 18%;
  }
  .col_pos{
    left: 46%;
  }
