// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#site-header {

}

#site-header-top {
  background-color: $approx-snow-color;
  padding: $quarter-unit-layout rem(0px);
  border-bottom: rem(2px) solid #f0f0f0;

  .container {
    max-width: rem(1300px);
  }

  .tagline {
    font-family : $ff-playfair-display;
    font-size: rem(14px);
    font-style: italic;
  }  

  .quick-links {
    list-style-type: none;
    float: right;
    li {
      float: left;
      color: $pine-green-color;
      margin-right: $double-unit-layout;
      i {
        display: inline-block;
        margin-right: 5px;
        font-size: rem(13);
      }
      a {
        font-size: rem(13);
        color: $pine-green-color;
      }
    }
    li:last-child{
      margin-right: rem(0px);
    }
    a {
      padding: 0 $quarter-unit-layout;
      border-right: rem(1px) solid $pine-green-color;
    }
    a:last-child {
      border-right: none;
    }
  }
}


#site-header-primary{
  padding: $double-unit-layout * 1.25 0;
  border-bottom: rem(2px) solid #f0f0f0;

  .container {
    max-width: rem(1300px);
  }

  .kbsearch {
    margin: rem(10px) 0;
  }

  .mini-cart-wrap {
    .cart {
      .wishlist-icon, .mini-cart-icon {
        float: right;
        font-size: 48px;
        line-height: 0;
        color: $brand-color;
      }
      .mini-cart-icon {
        position: relative;
        .mini-cart-count {
          position: absolute;
          left: -10px;
          bottom: -10px;
          background-color: #f25c5b;
          display: inline-block;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          color: white;
          font-size: 16px;
          font-style: normal;
        }
      }
      .wishlist-icon {
        margin-right: 70px;
      }
    }
  }
}


#site-header-navigation {
  padding: $unit-layout;
  ul {
    list-style-type: none;
    li {
      float: left;
      width: 10%;
      color: $text-color;
      a {
        text-transform: uppercase;
        font-size: rem(13px);
      }
    }
  }
}
