// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#site_header {

}

#site_header_top {
  background-color: $approx-snow-color;
  padding: $quarter-unit-layout rem(0px);
  border-bottom: rem(2px) solid #f0f0f0;

  .container {
    max-width: rem(1300px);
  }

  .tagline {
    font-family : $ff-playfair-display;
    font-size: rem(14px);
    font-style: italic;
  }  

  .quick_links {
    list-style-type: none;
    float: right;
    li {
      float: left;
      color: $pine-green-color;
      margin-right: $double-unit-layout;
      i {
        display: inline-block;
        margin-right: 5px;
        font-size: rem(13);
      }
      a {
        font-size: rem(13);
      }
    }
    li:last-child{
      margin-right: rem(0px);
    }
    a {
      padding: 0 $quarter-unit-layout;
      border-right: rem(1px) solid $pine-green-color;
    }
    a:last-child {
      border-right: none;
    }
  }
}
