#tagline-strip {
  background-color: #272932;
  color: white;
  font-family: $ff-playfair-display;
  font-style: italic;
  text-align: center;
  padding: $unit-layout * .75;
  line-height: rem(21px);
}
