.testimonial-section {
  .video-testimonial {
    padding: rem(15px);
    box-sizing: border-box;
    iframe {
      width: 100%;
      height: rem(200px);
    }
  }
}


@include respond-to(medium) {
  .testimonial-section {
    .video-testimonial {
      iframe {
        height: rem(325px);
      }
    }
  }
}
