.testimonial-section {
  .video-testimonial {
    padding: rem(15px);
    box-sizing: border-box;
    iframe {
      height: rem(200px);
      display: block;
      margin: 0 auto;
    }
  }
}



@include respond-to(medium) {
  .testimonial-section {
    .video-testimonial {
      iframe {
        height: rem(325px);
        width: 100%;
        max-width: rem(600px);
      }
    }
  }
}
