.checkout-steps {
  .step {
    .step-title {
      margin: $unit-layout 0;
      padding: $half-unit-layout;
      background-color: $white-color;
      span {
        font-size: rem(17px);
      }
      .index {
        width: rem(30px);
        height: rem(30px);
        line-height: rem(30px);
        display: inline-block;
        margin-right: $unit-layout;
        text-align: center;
      }
    }

    .step-complete-panel {
      display: none;
      background-color: $brand-color;
      padding: $unit-layout;
      margin-bottom: $unit-layout;
      cursor: pointer;
      .index {
        max-width: rem(20px);
        width: 100%;
        float: left;
        span {
          color: white;
        }
      }
      .details {
        .step-complete-title {
          .fa {
            display: inline-block;
            margin-left: $quarter-unit-layout;
          }
        }
        p {
          color: white;
          font-size: rem(17px);
        }
      } 
    }
  }

  .step.open {
    .step-title {
      background-color: $approx-snow-color;
      padding: $half-unit-layout 0;
      .index {
        background-color: $brand-color;
        color: white;
      }
    }
  }

  .step.done {
    .step-title {
      display: none;
    }
    .step-complete-panel {
      display: block;
    }
  }

  .step#step1 {
    .step-complete-panel {
      .details {
        .name, .email {
          padding-right: $unit-layout;
          display: inline-block;
        }
        .email {
          font-weight: 300;
        }
      }
    }
    .step-content {
      .view.logged-out {
        background-color: $white-color;
        padding: $double-unit-layout $unit-layout;
        .col-left,.col-right {
          > h6 {
            margin-bottom: $unit-layout;
          }
        }
        .col-right {
          .checkout-options .radio label{
            font-size: rem(14px);
          }
          #checkout-type-btn {
           font-size: rem(16px);
           margin: $unit-layout 0;
           border-radius: 0;
          }
        }
        form {
          .form-group {
            margin: $unit-layout 0;
          }
          .form-control {
            border-radius: 0;
            max-width: rem(300px);
            height: rem(45px);
          }
          .submit-btn{
            width: 100%;
            border-radius: 0;
            height: rem(45px);
            max-width: rem(300px);
            display: block;
          }
          .forgot-password-link, .signin-link {
            color: $crimson-color;
            cursor: pointer;
          }
        }
      }
    }
  }

  .step#step2 {
    .step-complete-panel {
      .details {
        span {
          font-weight: 300;
          padding-right: $quarter-unit-layout;
        }
        span:after {
          content: ',';
        }
        span:last-child:after {
          content: '';
        }
      }
    }
    .step-content {
      .address-form-wrap {
        .address-form-edit-panel {
          @include clearfix;
          background-color: $white-color;
          padding: $unit-layout;
          margin-bottom: $half-unit-layout;
          .address-toggle {
            width: 5%;
            float: left;
          }
          .address-summary {
            float: left;
            span {
              font-weight: 300;
            }
            span.name {
              font-weight: 400;
              padding-right: $unit-layout;
              display: inline-block;
            }
            p.delivery-address {
              span:after {
                content: ', ';
              }
              span:last-child:after{
                display: none;
              }
            }
          }
          .address-edit {
            float: right;
            padding-top: rem(12px);
            cursor: pointer;
            a {
              color: $blue-color;
              text-decoration: none;
              span {
                display: block;
                text-align: center;
              }
            }
          }
        }
        .address-form {
       
        }
      }
    }

  } // .step#step2

}
