.artisan-collection-slider
  .slide
    .slide-content
      img.slide-img(src='images/artisan-collection/artisan-collection-1.png')
      .slide-footer
        a.title(href='#') Paper Mache
        span.sub-title  Beautiful Color Melodies
        a.view-range(href='#') View Range <span class="fa fa-caret-right"></span>
          
  .slide
    .slide-frame
      .slide-content
        img.slide-img(src='images/artisan-collection/artisan-collection-2.png')
        .slide-footer
          a.title(href='#') Walnut Wood
          span.sub-title  Precious Hand Art
          a.view-range(href='#') View Range <span class="fa fa-caret-right"></span>
  .slide
    .slide-frame
      .slide-content
        img.slide-img(src='images/artisan-collection/artisan-collection-3.png')
        .slide-footer
          a.title(href='#') Timeless Tilla
          span.sub-title  Shimmery threads
          a.view-range(href='#') View Range <span class="fa fa-caret-right"></span>
  .slide
    .slide-frame
      .slide-content
        img.slide-img(src='images/artisan-collection/artisan-collection-4.png')
        .slide-footer
          a.title(href='#') Chain Stitch
          span.sub-title  Intricate Hand Art
          a.view-range(href='#') View Range <span class="fa fa-caret-right"></span>
  .slide
    .slide-content
      img.slide-img(src='images/artisan-collection/artisan-collection-1.png')
      .slide-footer
        a.title(href='#') Paper Mache
        span.sub-title  Beautiful Color Melodies
        a.view-range(href='#') View Range <span class="fa fa-caret-right"></span>
          
  .slide
    .slide-frame
      .slide-content
        img.slide-img(src='images/artisan-collection/artisan-collection-2.png')
        .slide-footer
          a.title(href='#') Walnut Wood
          span.sub-title  Precious Hand Art
          a.view-range(href='#') View Range <span class="fa fa-caret-right"></span>
