.category-products-list
  .list-header.clearfix
    ul.views
      li.grid-view.active(data-view-type='grid')
        span.fa.fa-th
      li.list-view(data-view-type='list')
        span.fa.fa-list    
    .selector
      .arrow
        span.fa.fa-angle-down
      select
        option(value='') sort by
        option(value='low') Low
        option(value='high') High
        option(value='price') New
        option(value='discount') Discount
        option(value='popular') Popularity
  .list-content.grid-view.clearfix
  .list-footer.clearfix
