.category-products-filter
  h4.title Filters
  .filters
    .price-filter.clearfix
      p.filter-label Price
      .range-from
        input#price-from.form-control(type='number' value='99')
      .range-to
        input#price-to.form-control(type='number' value='999')
