.category-products-filter
  h4.title Filters
  .filters
    .price-filter.clearfix
      p.filter-label Price
      .range-from.number-input
        input#price-from.form-control(type='number' value='99')
        .counter
          span.fa.fa-angle-up.increment
          span.fa.fa-angle-down.decrement  
      .range-to.number-input
        input#price-to.form-control(type='number' value='999')
        .counter
          span.fa.fa-angle-up.increment
          span.fa.fa-angle-down.decrement 
