.category-banner(style='background-image:url(images/category-banner.jpg)')
  .container
    .col-md-8.col-md-offset-2.padding-0
      .content-wrap
        .content.text-center
          h3.category-name Exotic Foods
          p.category-excerpt Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Nam porttitor nisi lectus, quis pretium turpis consequat ut. Nam et bibendum odio.
