#newsletter-form-wrap
  .title-wrap 
    p.title Subscribe to our newsletter
  form#newsletter-form(action='' method='post')
    div.form-group
      input.form-control(placeholder='your email address' type='email' name='email')
    div.form-group
      input(class="btn btn-pink submit-btn" type='submit' value="Subscribe")
