- 
  var products = [
    {name : 'Boxy Walnuts', price : '$229', img : 'boxy-walnut.png', rating : 4, liked: true, sale: true}, 
    {name : 'Himaliyan Shilajit', price : '$229', img : 'himalayan-shilajit.png', rating : 5},
    {name : 'Kashmiri Saffron', price : '$229', img : 'kashmiri-saffron.png', rating : 5, liked:true },
    {name : 'Boxy Walnuts', price : '$229', img : 'boxy-walnut.png', rating : 4, sale: true}, 
    {name : 'Himaliyan Shilajit', price : '$229', img : 'himalayan-shilajit.png', rating : 5},
    {name : 'Kashmiri Saffron', price : '$229', img : 'kashmiri-saffron.png', rating : 5},
    {name : 'Himaliyan Shilajit', price : '$229', img : 'himalayan-shilajit.png', rating : 5},
    {name : 'Kashmiri Saffron', price : '$229', img : 'kashmiri-saffron.png', rating : 5},
    {name : 'Kashmiri Saffron', price : '$229', img : 'kashmiri-saffron.png', rating : 5, liked:true},
    {name : 'Himaliyan Shilajit', price : '$229', img : 'himalayan-shilajit.png', rating : 5},
    {name : 'Kashmiri Saffron', price : '$229', img : 'kashmiri-saffron.png', rating : 5}
  ];
.product-slider(id=productSliderId)
  each product in products
    .slide
      .slide-content
        a.product-link(href='#')
          img.slide-img(src='images/products/'+product.img)
        .slide-footer
          a.name(href='#')= product.name
          span.price= product.price
          .rating(href='#')
            while product.rating-- > 0
              span.fa.fa-star
        if product.liked
          .liked: span.fa.fa-heart
        if product.sale
          .for-sale: span Sale 20% OFF

  
