.testimonial-slider
  .slide
    .testimony
      img.testimony-image(src="images/testimonial/red-carpet.png" alt="Red Carpet")
      .desc
        span.name Wenddy Obrien
        span.from USA
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at orci eget nunc scelerisque fringilla a non tortor.
  .slide
    .testimony
      img.testimony-image(src="images/testimonial/paper-mache.png" alt="Paper Mache")
      .desc
        span.name Wenddy Obrien
        span.from USA
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at orci eget nunc scelerisque fringilla a non tortor.
  .slide
    .testimony
      img.testimony-image(src="images/testimonial/red-carpet.png" alt="Red Carpet")
      .desc
        span.name Wenddy Obrien
        span.from USA
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at orci eget nunc scelerisque fringilla a non tortor.
  .slide
    .testimony
      img.testimony-image(src="images/testimonial/paper-mache.png" alt="Paper Mache")
      .desc
        span.name Wenddy Obrien
        span.from USA
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at orci eget nunc scelerisque fringilla a non tortor.
  .slide
    .testimony
      img.testimony-image(src="images/testimonial/red-carpet.png" alt="Red Carpet")
      .desc
        span.name Wenddy Obrien
        span.from USA
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at orci eget nunc scelerisque fringilla a non tortor.

