.cart-content {
  .breadcrum-section {
    padding: $unit-layout 0;
  }
  .trust-label-section {
    padding: $unit-layout 0;
    .trust-label {
      position: relative;
      span:first-child {
        display: inline-block;
        background: white;
        width: rem(60px);
        height: rem(60px);
        border-radius: 50%;
        line-height: rem(60px);
        text-align: center;
        box-shadow: 0 0 10px;
        position: absolute;
        left: -20px;
        top: -8px;
        z-index: 10;
      }
      span:last-child {
        display: inline-block;
        padding: $half-unit-layout;
        padding-right: $unit-layout * 2;
        padding-left: $unit-layout * 4;
        background-color: rgba(58, 170, 150, 0.3);
        font-family: $ff-playfair-display;
        font-size: rem(18px);
        color: #096e5c;
        width: 100%;
        font-weight: 700;
      }
    }
  }
}
