.cart-content {
  .breadcrum-section {
    background-color: $approx-snow-color;
    padding: $unit-layout 0;
    a {
      font-size: rem(13px);
    }
  }
  .trust-label-section {
    background-color: $approx-snow-color;
    padding: $unit-layout 0;
    .trust-label {
      position: relative;
      span:first-child {
        display: inline-block;
        background: white;
        width: rem(60px);
        height: rem(60px);
        border-radius: 50%;
        line-height: rem(60px);
        text-align: center;
        box-shadow: 0 0 10px;
        position: absolute;
        left: -20px;
        top: -8px;
        z-index: 10;
      }
      span:last-child {
        display: inline-block;
        padding: $half-unit-layout;
        padding-right: $unit-layout * 2;
        padding-left: $unit-layout * 4;
        background-color: rgba(58, 170, 150, 0.3);
        font-family: $ff-playfair-display;
        font-size: rem(18px);
        color: #096e5c;
        width: 100%;
        font-weight: 700;
      }
    }
  }
  .box-section {
    background-color: $approx-snow-color;
    padding: $unit-layout*2 0;
    
    .cart-summary {
      .features {
        .features-list {
          list-style-type: none;
          padding: $unit-layout 0;
          li {
            padding: $unit-layout * 1 0;
            span {
              color: $brand-color;
              font-size: rem(15px);
              display: inline-block;
              vertical-align: top;
            }
            span:last-child {
              width: 80%;
              font-weight: 300;
            }
            .fa {
              margin-right: rem(10px);
              background-color: $brand-color;
              color: white;
              width: rem(30px);
              height: rem(30px);
              line-height: rem(30px);
              text-align: center;
              border-radius: 50%;
            }
          }
        }
      }

      .order-summary {
        h6 {
          line-height: 1.75;
          padding: $quarter-unit-layout 0;
        }
        > div {
          background-color: $white-color;
          border: 1px solid $light-grey;
          padding: $double-unit-layout $unit-layout * 1.25;
        }
        .summary-footer {
          .process-checkout-btn {
            width: 100%;
            height: rem(50px);
            line-height: rem(50px);
            font-size: rem(16px);
            border-radius: 0;
            margin-top: $unit-layout * 2;
            margin-bottom: $unit-layout;
          }
          span {
            display: block;
            color: #a4a4a4;
            font-size: rem(13px);
            font-weight: 300;
            text-align: center;
            padding: $quarter-unit-layout;
          }
          img {
            display: block;
            margin: auto;
            padding: $quarter-unit-layout;
          }
        }
        .order-summary-list {
          list-style-type: none;
          .item {
            line-height: 2;
            .item-title, .item-value {
              font-weight: 300;
              font-size: rem(14px);
            }
            .item-value {
              float: right;
            }
            &.discount-coupon {
              .item-value a {
                color: $blue-color;
              }
            }
          }
          .item:last-child {
            padding: $unit-layout * 0.625 0;
            .item-title, .item-value { 
              font-weight: 400;
            }
          }
        }
      }
    }

    .cart-products {
    }
  }
}

@include respond-to(medium) {
  .cart-content {
    .box-section {
      .cart-summary {
        float: right;
      }
      .cart-products {
        float: left;
      }
    }
  }
}
