// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.hero-slider-section {
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

.artisan-collection-section {
  padding: $unit-layout*9 0 $unit-layout*5;
}


.pashmina-section {
  padding: $unit-layout*3 0 $unit-layout*4 0;
  background-color: $approx-snow-color;
}

.latest-arrivals-section {
  padding: $unit-layout*3 0 $unit-layout*4 0;
}


.kashmiri-product-section {
  background-color: $approx-snow-color;
  padding: $unit-layout*3 0 $unit-layout*4 0;
}

.special-product-section {
  background-color: $approx-snow-color;
  padding: $unit-layout*3 0 $unit-layout*4 0;
}

.special-product-section .product-category-grid .product{
  background-color: white;
}

.best-sellers-section {
  padding: $unit-layout*3 0 $unit-layout*4 0;
}
