.product-page-content {

  .breadcrums-wrap {
    padding: $unit-layout * 1.5 0;
  }

  .product-details-section {
    background-color: $approx-snow-color;
    padding: $unit-layout*2 0 $unit-layout*2 0;
    .add-to-cart-mobile {
      z-index: 10;
      position: fixed;
      bottom: 0;
      width: 100%;
      a.add-to-cart-btn {
          width: 100%;
          background-color: $brand-color;
          color: white;
          border-radius: 0;
          text-transform: uppercase;
          height: rem(45px);
          line-height: rem(45px);
          font-size: rem(16px);
          .fa {
            display: inline-block;
            margin-right: $quarter-unit-layout;
          }
      }
    }
    .left-col {
      > #product-img-slider {
        .slick-slide {
          text-align: center;
          img {
            max-width: 90%;
            width: 100%;
            display: block;
            margin: 0 auto;
          }
        }
        .slick-arrow {
          color: black;
          position: absolute;
          top: 35%;
          font-size: 23px;
          z-index: 100;
        }
        .slide-back {
          left: 20px;
        }
        .slide-next {
          right: 20px;
        }
      }
      > #product-img-gal {
        display: none;
      }
      > .product-img {
        display: none;
      }
      .product-img-footer {
        .vendor {
          span {
            font-size: rem(14px);
            font-weight: 300;
            .name {
              font-weight: 400;
              color: $text-color-dark;
            }
          }
        }
        .requests {
          text-align: right;
          a {
            font-size: rem(14px);
            display: inline-block;
            color: $text-color-dark2;
            line-height: 1;
            &:first-child {
              border-right: 1px solid $text-color-dark2;
              padding-right : $half-unit-layout;
            }
            &:last-child {
              padding-left: $half-unit-layout;
            }
          }
        }
      }
    }
    .right-col {
      .product-name {
        font-family: $ff-playfair-display;
        font-weight: 700;
      }
      .rating {
        color: $pantone-color;
        float: left;
        padding-right: $half-unit-layout;
      }
      .reviews {
        float: left;
        clear: right;
        a {
          color: #153ec3;
          text-align: center;
          text-decoration: underline;
        }
      }
      .price {
        padding: $half-unit-layout 0;
        clear: both;
        .price-value  {
          color: $text-color-dark;
        }
      }
      .product-details {
        .heading {
          color: $text-color-dark2;
          padding: $half-unit-layout 0;
        }
        ul {
          list-style-type: none;
          margin-bottom: $unit-layout * 1.5;
        }
        .detail-list {
          li {
            span {
              font-size: rem(14px);
              display: block;
              float: left;
              width: 50%;
              font-weight: 300;
            }
            span:first-child {
              color: #7a7a7a;
            }
            span:last-child {
              color: $text-color-dark2;
            }
          }
        }
        .build-pack-list {
          clear: both;
          li {
            float: left;
            padding: 0 $quarter-unit-layout;
            .fa {
              font-size: rem(24px);
              color: $mid-grey;
            }
          }
        }
        .social-share-list {
          clear: both;
          li {
            float: left;
            padding-right:$quarter-unit-layout;
            a {
              display: block;
              width: rem(35px);
              height: rem(35px);
              line-height: rem(35px);
              text-align: center;
              transition: all 0.5s;
              &:hover {
                opacity: 0.8;
              }
              .fa {
                color: white;
                font-size: rem(20px);
                line-height: rem(35px);
                display: inline-block;
              }
              &.fb {
                background-color: #7e7e7e;
              }
              &.tw {
                background-color: #b0b0b0;
              }
              &.gp {
                background-color: #969696;
              }
              &.pt {
                background-color: #7e7e7e;
              }
            }
          }
        }
      }
      .extra-options {
        z-index: 100;
        max-width: rem(245px);
        background-color: $white-color;
        padding: $unit-layout;
        .heading {
          color: $text-color-dark2;
          padding-bottom: $half-unit-layout;
        }
        .pincode {
          .has-success .form-control-feedback {
            color: $brand-color !important;
          }
        }
        .option {
          padding-bottom: $half-unit-layout;
          
          .number-input {
            border: 0;
          }
          .selector {
            border: 0;
            width: 100%;
            .arrow {
              border-left: 0;
              text-align: right;
              padding-right: rem(10px);
              background-color: $approx-snow-color;
              width: 100%;
            }
            border-color: $light-grey;
          }
          input {
            background-color: $approx-snow-color;
          }
          input, select {
            border-radius: 0;
            border: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
          }
        }
        .option.product-quantity {
          padding: $half-unit-layout 0;
          p.heading {
            float: left;
            width: 40%; 
          }
        }
        .option.total-price {
          padding: $half-unit-layout 0;
          p.heading {
            float: left;
            width: 40%; 
          }
          .form-group {
            float: left;
            width: 60%;
          }
        }
        .add-to-cart{
          margin-top: $unit-layout;
          display: none;
          .add-to-cart-btn {
            width: 78%;
            float: left;
            margin-right: 2%;
            border-radius: 0;
            span {
              font-size: rem(12px);
            }
            .fa {
              padding-right: rem(5px);
            }
          }
          .add-to-wishlist {
            width: 20%;
            float: left;
            height: rem(45px);
            line-height: rem(45px);
            border: 1px solid $brand-color;
            color: $brand-color; 
            border-radius: 0;
          }
        }
      }
    }
    .footer-col {
      max-width: rem(900px);
      width: 100%;
      margin-top: $unit-layout * 4;
      .title {
        font-size: rem(16px);
        font-weight: 300;
        color: $brand-color;
        padding: $unit-layout * 1.25 0;
        .fa {
          float: right;
          color: $black-color;
        }
      }
      .about {
        width: 100%;
        padding: $unit-layout * 1.25;
        background-color: white;
        box-sizing: border-box;
      }
      .shipping-details {
        margin: $unit-layout 0;
        background-color: $white-color;
        padding: $unit-layout * 1.25;
        box-sizing: border-box;
      }
      .seller-details {
        background-color: $white-color;
        margin: $unit-layout 0;
        padding: $unit-layout * 1.25;
        box-sizing: border-box;
      }
    }
  }

  .related-products-section {
    background-color: $approx-snow-color;
    padding: $unit-layout*2 0 $unit-layout*2 0;
  }

}


@include respond-to(medium) {
  .product-page-content {
    .product-details-section {
      padding: $unit-layout*3 0 $unit-layout*4 0;
      .container {
        padding: $half-unit-layout;
      }
      .left-col {
        > #product-img-slider {
          display: none;
        }
        > #product-img-gal {
          display: block;
          width: 14%;
          float: left;
          > a {
            display: block;
            margin-bottom: $half-unit-layout;
            img {
              width: 100%;
            }
            &.active, &:hover {
              border: rem(2px) solid $brand-color;
              border-radius: rem(5px);
            }
          }
        }
        > .product-img {
          width: 86%;
          float: left;
          display: block;
          img {
            max-width: 95%;
            width: 100%;
            display: block;
            margin: 0 auto;
          }
        }
        > .product-img-footer {
          display: none;
        }
      }
      .right-col {
        .extra-options {
          .add-to-cart {
            display: block;
          }
        }
      }
      .footer-col {
        clear: both;
        .title {
          .fa {
            display: none;
          }
        }
        .about {
          padding-right: $unit-layout * 3.75;
        }
        .shipping-details {
          width: 49%;
          margin-right: 1%;
          float: left;
        }
        .seller-details {
          width: 49%;
          margin-left: 1%;
          float: left;
          p {
            font-weight: 300;
          }
        }
      }
    }
    .related-products-section {
      padding: $unit-layout*3 0 $unit-layout*4 0;
    }
  }
}

@include respond-to('large-only') {
  .product-page-content {
    .product-details-section {
      .right-col {
        margin-top: $double-unit-layout;
        .extra-options {
          max-width: 100%;
        }
      }
      .footer-col {
        max-width: 100%;
        clear: both;
      }
    }
  }
}
