//STEP1
.step.open#step1
  .step-title
    span.index 1
    span Login
  .step-complete-panel.clearfix(data-step-id='#step1')
    .index
      span 1
    .details
      p.step-complete-title Login <span class="fa fa-check"></span>
      p.user
        span.name Muheet Mehraj
        span.email muheet@kashmirbox.com

  .step-content.collapse.in 
    .view.logged-out.clearfix
      .col-sm-6.col-left
        .login-form-wrap
          h6 Returning Customer
          form#checkout-login-form
            .form-group
              input.form-control#login-email(type='email' placeholder='email address')
            .form-group
              input.form-control#login-password(type='password' placeholder='password')
            .form-group
              button.submit-btn(type='submit').btn.btn-orange Login
              a.forgot-password-link(href='#') forgot password
      .col-sm-6.col-right
        h6 New Customer
        .checkout-options
          p Checkout Options:
          .radio.radio-primary
            input#register-account(type='radio', name='customer-type', value='new')
            label(for='register-account')
              | Register Account
          .radio.radio-primary
            input#guest-checkout(type='radio', name='customer-type', value='guest')
            label(for='guest-checkout')
              | Guest Checkout
          p.
            By creating an account you will be able to shop faster, be up to date
            on order's status, and keep track of the orders you have previously made.
        #checkout-options-forms
          .register-form-wrap
            h6 Create Account
            form#checkout-register-form
              .form-group
                input.form-control#register-name(type='text' name="fullname" placeholder='full name')
              .form-group
                input.form-control#register-email(type='email' email='email' placeholder='email address')
              .form-group
                input.form-control#register-password(type='password' name='password' placeholder='password')
              .form-group
                button.submit-btn(type='submit').btn.btn-orange Continue
          .guest-form-wrap
            h6 Checkout as Guest
            form#checkout-guest-form
              .form-group
                input.form-control#guest-name(type='text' name='name' placeholder='full name')
              .form-group
                input.form-control#guest-email(type='email' name='email' placeholder='email address')
              .form-group
                button.submit-btn(type='submit').btn.btn-orange Continue
          a.btn.btn-border.btn-border-orange#checkout-type-btn Continue 
//STEP2
.step#step2
  .step-title
    span.index 2
    span Address
  .step-complete-panel.clearfix(data-step-id='#step1')
    .index
      span 2
    .details
      p.step-complete-title Address <span class="fa fa-check"></span>
      p.user
        span.street-address BarBarshah
        span.city Srinagar
        span.state Jammu and Kashmir
        span.pincode 190001 
  .step-content.collapse
    .address
      .address-forms
        .address-form-wrap.new.editing.first.clearfix
          .address-form-edit-panel
            .address-toggle
              .radio.radio-primary
                input#edit-panel-address-toggle1.address-toggle(type='radio' name='edit-address-toggle' value='new')
                label(for='edit-panel-address-toggle1')  
            .address-summary
              p
                span.name Muheet Mehraj
                span.phone 9596888888
              p.delivery-address
                span.street-address BarBarshah
                span.city Srinagar
                span.state Jammu and Kashmir
                span.pincode 190001
            .address-edit
              a
                span.fa.fa-edit
                span Edit
          .address-form
            .col-xs-12
              .radio.radio-primary
                input.address-toggle#edit-address-toggle1(type='radio', name='address-toggle',  value='1' checked)
                label(for='edit-address-toggle1')
                  span.edit-label Edit Address
                  span.new-label Add a new Address 
            form#address-form1(data-form-id='1')
              .form-group
                .col-sm-6
                  input.form-control(name='name' placeholder='Name')
                .col-sm-6
                  input.form-control(name='phone' placeholder='Phone Number')
              .form-group.clearfix
                .col-sm-6
                  input.form-control(name='pincode' placeholder='Pincode')
                .col-sm-6
                  input.form-control(name='locality' placeholder='Locality')
              .form-group.clearfix
                .col-xs-12
                  textarea.form-control(name='street-address' placeholder='Address(Area and Street)') 
              .form-group.clearfix
                .col-sm-6
                  input.form-control(name='city' placeholder='City/District/Town')
                .col-sm-6
                  input.form-control(name='state' placeholder='State') 
              .form-group.clearfix
                .col-sm-6
                  input.form-control(name='landmark' placeholder='Landmark(Optional)')
                .col-sm-6
                  input.form-control(name='alt-phone' placeholder='Alternate Phone(Optional)')   
              .form-group.clearfix
                .col-xs-12
                  p Address Type
                .col-sm-6
                  .radio.radio-primary
                    input#home-address-radio1.address-toggle(type='radio' name='address-type' value='new')
                    label(for='home-address-radio1')
                      | Home(All day delivery)
                .col-sm-6
                  .radio.radio-primary
                    input#work-address-radio1.address-type(type='radio' name='address-type' value='new')
                    label(for='work-address-radio1')
                      | Work(Delivery between 10 AM - 5 PM)
              .form-group
                .col-xs-12
                  button.btn.btn-orange.save-address(type='submit') Save
                  button.btn.btn-default.cancel-address(type='button') Cancel
    #proceed-to-payment-step
      button.btn.btn-orange Proceed to Payment
    #add-new-address.hidden.clearfix
      a
        span.fa.fa-plus
        span Add new address                    

//STEP3
.step#step3
  .step-title
    span.index 3
    span Payment
  .step-content.collapse
    .col-xs-12.payment-gateway
      .radio.radio-primary
        input#cc-avenue-payment-option(type='radio', name='payment-gateway',  value='cc-avenue' checked)
        label(for='cc-avenue-payment-option')
          span.edit-label CC Avenue
          img(src='images/icons/cc-avenue-gateway.png' alt='CC Avenue')
    .col-xs-12.payment-gateway
      .radio.radio-primary
        input#payu-money-payment-option(type='radio', name='payment-gateway',  value='payu-money')
        label(for='payu-money-payment-option')
          span.edit-label PayU Money
          img(src='images/icons/payu-money.png' alt='CC Avenue')
    .col-xs-12.payment-gateway
      .radio.radio-primary
        input#cod-payment-option(type='radio', name='payment-gateway',  value='cod')
        label(for='cod-payment-option')
          span.edit-label Cash On Delivery
    .col-xs-12.payment-gateway
      .radio.radio-primary
        input#mobikwik-payment-option(type='radio', name='payment-gateway',  value='mobikwik')
        label(for='mobikwik-payment-option')
          span.edit-label MobiKwik
    #proceed-to-payment-gateway
      a(href='#').btn.btn-orange Pay Now
