// Site Footer
footer#site-footer
  #site-footer-copyright
    .container
      p.copyright-text.
        Copyright &copy; <a class='brand-color' href='#'>KashmirBox.com 2017-18</a>. All Rights Reserved
