header#site_header
  div#site_header_top
    div.container
      span.tagline Over $70 million sent to artisans arround the world! - offering &amp; Empowering Kashmir
      ul.quick_links
        li
          i(class='fa fa-info-circle')
          a(href='#')
            span Help 
        li
          i(class='fa fa-th')
          a(href='#')
            span Service 
        li
          i(class='fa fa-inr')
          a(href='#')
            span Help 
        li
          i(class='fa fa-user-circle-o')
          a(href='#')
            span Register
          a(href='#')
            span Login
  div#site_header_primary
  div#site_header_navigation


