// Site Header
header#site_header
  #site-header-top
    .container
      span.tagline Over $70 million sent to artisans arround the world! - offering &amp; Empowering Kashmir
      ul.quick-links
        li
          a(href='#')
            span help 
        li
          a(href='#')
            span service 
        li
          a(href='#')
            span currency 
        li
          a(href='#')
            span register
        li
          a(href='#')
            span sign-in
  #site-header-primary
    .container
      .logo-wrap(class='col-xs-6 col-sm-6 col-md-4 padding-0')
        img(src='images/logo.png' alt="Kashmir Box")
      .search-wrap(class='col-xs-6  col-md-4 hidden-xs hidden-sm padding-0')
        .kbsearch
          input(type='text' placeholder='What can Kashmir offer you today?')
          a(class='btn btn-white search-btn')
            i(class='fa fa-search')  
      .mini-cart-wrap(class='col-xs-6 col-sm-6 col-md-4 padding-0')
         .cart
            a.mini-cart-icon(href='#')
              i(class='fa fa-shopping-bag')
              i(class='mini-cart-count') 6 
          
  #site-header-mobile-menu(class='visible-xs visible-sm clearfix')
    .icons
      .icon.menu-toggle
        a(type='button', data-toggle='collapse', data-target='.menu-wrapper')
          span.fa.fa-bars
      .icon.search-toggle
        a
          span.fa.fa-search
        .kbsearch.clearfix
          input(type='text' placeholder='What can Kashmir offer you today?')
          a(class='btn btn-white search-btn')
            i(class='fa fa-search') 
      .icon.dropdown.profile-dd-toggle 
        a(class='btn dropdown-toggle' type='button' data-toggle='dropdown')
          span.fa.fa-user
        ul.dropdown-menu
            li
              a(href='#') Register
            li
              a(href='#') Sign In
            li
              a(href='#') Profile

  #site-header-navigation
    include ../components/mega-menu.pug
        


