// Site Header
header#site-header-checkout
  .container.padding-0
    .logo-wrap(class='col-xs-6 padding-0')
      img(src='images/logo.png' alt="Kashmir Box")
    .safe-and-secure(class='col-xs-6 padding-0')
      span 100% Safe & Secure Payment Process
