header#site_header
  #site-header-top
    .container
      span.tagline Over $70 million sent to artisans arround the world! - offering &amp; Empowering Kashmir
      ul.quick-links
        li
          i(class='fa fa-info-circle')
          a(href='#')
            span Help 
        li
          i(class='fa fa-th')
          a(href='#')
            span Service 
        li
          i(class='fa fa-inr')
          a(href='#')
            span Currency 
        li
          i(class='fa fa-user-circle-o')
          a(href='#')
            span Register
          a(href='#')
            span Login
  #site-header-primary
    .container
      .logo-wrap(class='col-sm-4 padding-0')
        img(src='images/logo.png' alt="Kashmir Box")
      .search-wrap(class='col-sm-4 padding-0')
        .kbsearch
          input(type='text' placeholder='What can Kashmir offer you today?')
          a(class='btn btn-primary search-btn')
            i(class='fa fa-search')  
      .mini-cart-wrap(class='col-sm-4 padding-0')
         .cart
            a.mini-cart-icon(href='#')
              i(class='fa fa-shopping-bag')
              i(class='mini-cart-count') 6 
            a.wishlist-icon(href='#') 
              i(class="fa fa-heart-o") 
          

  div#site-header-navigation


