section.testimonial-section.row
  .container.padding-0
    .section-title
      h2.title What our Customers say
    .video-testimonial.col-md-6.col-md-offset-3
      iframe(src='https://www.youtube.com/embed/bpCvXtpIvpA?modestbranding=1&rel=0' frameborder="0" allowfullscreen)
    .col-xs-12.padding-0
      include ../components/testimonial-slider.pug

