.artisan-collection-slider {
  .slide {
    .slide-content {
      width: rem(170px);
      margin: 0 auto;
      .slide-img {
        display: inline-block;
      }
      .title {
        display: inline-block;
        margin-top: $half-unit-layout;
        font-size: rem(17px);
        font-family: $ff-playfair-display;
      }
      .sub-title, .view-range {
        font-weight: 300;
        line-height: rem(28px);
        font-size: rem(14px);
        display: block;
      }
      .view-range {
        color: $brand-color;
        margin-top: $unit-layout*1.25;
        .fa-caret-right {
          font-size: rem(14px);
          display: inline-block;
          margin-left: $half-unit-layout;
        }
      }
    }
  }
  .slick-arrow {
    color: black;
    position: absolute;
    top: 30%;
    font-size: 23px;
    z-index: 100;
  }
  .slick-prev:before, .slick-next:before {
    color: $brand-color;
  }
  .slide-back {
    left: -10px;
  }
  .slide-next {
    right: -10px;
  }
}
