// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  outline: none;
  &:hover, &:active, &:focus, 
  &:hover:focus, &:hover:active,
  &:focus:active, &:focus:hover,
  &:active:hover, &:active:focus{
    outline: none;
  }
}

.btn-primary {
  background-color: $brand-color;
  border-color: $brand-color;
  transition: all 0.5s;
  padding: 0;

  &:hover, &:active, &:focus, 
  &:hover:focus, &:hover:active,
  &:focus:active, &:focus:hover,
  &:active:hover, &:active:focus{
    background-color: $brand-color;
    border-color: $brand-color;
    opacity: 0.8;
  }
}

.btn-pink {
  background-color: #f05d5e;
  border-color: #f05d5e;
  transition: all 0.5s;
  padding: 0;
  &:hover, &:active, &:focus {
    background-color: #f05d5e;
    border-color: #f05d5e;
    opacity: 0.8;
  }
}

.btn-white {
  background-color: white;
  border-color: white;
  transition: all 0.5s;
  padding: 0;
  color: $text-color-dark;
  &:hover, &:active, &:focus {
    background-color: white;
    border-color: white;
    opacity: 0.8;
  }
}

.btn-border {
  background-color: transparent;
  border: rem(2px) solid white;
  color: white;
  transition: all 0.5s;
  padding: 0;
}

.btn-border-pink {
  border-width: rem(2px);
  border: rem(2px) solid #f05d5e;

  &:hover, &:active, &:focus {
    background-color: #f05d5e;
    color: white;
  }
}
