.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    //display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#mega-menu {
  background-color: white;
  .menu-toggle {
    display: block;
  }
  .navbar-nav {
    > li {
      > a {
        color: $text-color-dark;
        background-color: $white-color;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
  #shop-by-menu {
    .dropdown-menu.multi-level {
      > .dropdown-submenu {
        &:hover {
          .dropdown-menu {
            //display: block;
          }
        }
        > ul {
          > li {
            &:first-child {
              padding-left: 35px;
              ul {
                list-style-type: none;
              }
            }
            &:last-child {
              display: none;
              ul {
                list-style-type: none;
              }
            }
            .sub-submenu {
              ul {
                li {
                  a {
                    font-weight: 300;
                  }
                }
              }
            }
          }
        }
      }
      > .dropdown-submenu > a {
        &:after {
          display: none;
        }
        .fa-angle-right {
          float: right;
          line-height: rem(21px);
          font-size: rem(16px);
        }
      }
    }
  }
  #services-menu {
   
  }
} 
@include respond-to(medium-only) {
  #mega-menu {
    .navbar-nav {
      > li {
         border-top: 1px solid $light-grey;
      }
    }
    #shop-by-menu {
      .dropdown-menu.multi-level {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        display: block;
        padding: 0;
        > .dropdown-submenu {
          border-top: 1px solid $light-grey;
          > a {
            padding: 10px 20px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

/* custom style */
@include respond-to(medium) {
    #mega-menu {
      margin-bottom: 0;
      background-color: $white-color;
      border: 0;
      border-radius: 0;
      .container{
        padding: 0;
        max-width: 100%;
        width: 100%;
      }
      .menu-toggle {
        display: none;
      }
      #shop-by-menu {
        .navbar-collapse {
          border-top: 1px solid $light-grey;
        }
        .navbar-nav {
          width: 100%;
          padding: 0;
          margin: 0;
        }
        .navbar-nav > li {
          position: static;
          width: 10%;
          text-align: center;
          display: table-cell;
          height: 100%;
          float: none;
          > a {
            color: $text-color-dark;
            font-size: rem(12px);
            text-transform: uppercase;
            font-weight: 300;
            height: 100%;
            vertical-align: middle;
            display: inline-block;
            width: 100%;
          }
          &.active, &.open {
            > a {
              border-bottom: 2px solid $brand-color;
              color: $brand-color;
            }
          }
          &:hover, &:active, &:focus {
            > a {
              border-bottom: 2px solid $brand-color;
              color: $brand-color;
            }
            > .dropdown-menu.multi-level {
              display: block;
            }
          }
        }
        .dropdown-menu.multi-level {
          width: 100%;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          padding: 30px 0;
          border: 0;
          border-radius: 0;
          overflow: hidden;
          border-top: 1px solid $light-grey;
           > .dropdown-submenu {
              margin-bottom: 20px;
              display: block;
              > ul {
                width: 80%;
                float: right;
                left: 20%;
                margin: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 0;
                border: 0;
                padding: 0;
                > li {
                  &:first-child {
                    width: 60%;
                    float: left;
                    padding-left: rem(50px);
                  }
                  &:last-child {
                    width: 40%;
                    float: left;
                    display: block;
                  }
                }
                .sub-submenu {
                  width: 50%;
                  float: left;
                  list-style-type: none;
                  &:nth-of-type(2n+1) {
                    clear: left;
                  }
                  ul {
                    list-style-type: none;
                    > li > a {
                      font-weight: 300;
                    }
                  }
                  .sub-submenu-title {
                    display: inline-block;
                    text-decoration: none;
                    margin: $unit-layout * 0.5 0;
                  }
                }
              }
           }
          > .dropdown-submenu > a {
            width: 20%;
            float: left;
            padding: 10px 20px !important;
            font-size: rem(15px);
            font-weight: 300;
            &:hover, &:active, &:focus {
              background-color: $brand-color;
              color: $white-color !important;
              background-image: none;
              display: block;
            }
            &:after {
              display: none;
            }
            .fa-angle-right {
              float: right;
              color: $white-color;
              line-height: rem(21px);
              font-size: rem(16px);
            }
          }
        }
      }
      .offer-box {
        .offer {
          width: 50%;
          float: left;
          .offer-heading {
            padding: $unit-layout * 0.5 0;
            span {
              font-size: rem(14px);
            }
          }
        }
      }
    }

  .active-submenu {
    background-color: $brand-color !important;
    color: $white-color !important;
    background-image: none;
  }

}

@include respond-to(large-only) {
  #mega-menu {
    #shop-by-menu {
      .dropdown-menu.multi-level {
        > .dropdown-submenu {
          ul {
            li {
              &:first-child {
                width: 70%;
              }
              &:last-child {
                width: 30%;
              }
            }
          }
        }
      }
    }
    .offer-box {
      .offer {
        width: 100%;
      }
    }
  }
}

@include respond-to(large) {
  #mega-menu {
    #shop-by-menu {
      .navbar-nav {
        li {
          a {
            font-size: rem(12px);
          }
        }
      }
    }
  }
}
