.product-grid {
  .grid-item {
    width: 33.33%;
    float: left;
    margin-bottom: $unit-layout*3;
  }
  .product {
    background-color: white;
    position: relative;
    display: inline-block;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    .product-img{
      overflow: hidden;
      position: relative;
      &:hover .overlay {
        top: 0;
      }
      img {
        width: 100%;
        height: rem(360px);
      }
    }
    .product-img:hover + .product-footer .category{
      color: $brand-color;
      text-decoration: underline;
    }
    .overlay {
      display: table;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      top: 100%;
      z-index: 100;
      text-align: center;
      background-color: rgba(175, 127, 97, 0.5);
      -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      .overlay-content {
        display: table-cell;
        vertical-align: middle;
        line-height: rem(360px);
        text-align: center;
        width: 100%;
        .view-products {
          width: rem(160px);
          height: rem(45px);
          line-height: rem(45px);
          display: inline-block;
        }
      }
    }
    .liked {
      position: absolute;
      right: $unit-layout;
      top: $unit-layout;
      .fa-heart {
        color: #fd461c;
      }
    }
    .for-sale {
      position: absolute;
      top:0;
      border-top: rem(110px) solid #000;
      border-right: rem(110px) solid transparent;
      span {
        position: absolute;
        color: white;
        font-family: $ff-cinzel-decorative;
        font-weight: 700;
        top: 0;
        margin-top: rem(-110px);
        padding: $quarter-unit-layout*1.25;
        font-size: rem(14px);
      }
    }
    .product-footer {
      padding: $unit-layout;
      .category {
        font-weight: 300;
        font-size: rem(16px);
        color: $text-color-dark;
        &:hover + .price{
          color: $brand-color;
        }
        &:hover{
          color: $brand-color;
        }

      }

      .price {
        font-size: rem(16px);
        color: $text-color-dark;
        float: right;
      }
      .tag {
        color: $text-color-dark;
        display: block;
        font-size: rem(14px);
      }
    }
  }
}
