.story-view2 {
  margin-bottom: $unit-layout * 1.25;
  text-align: center;
  .overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: $unit-layout * 1.25;
    width: 100%;
    h6 {
      color: white;
      font-family: $ff-playfair-display;
      font-weight: 700;
    }
  }
  a {
    position: relative;
    overflow: hidden;
    height: rem(225px);
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@include respond-to(small-2) {
  .story-view2 {
    a {
      img {
        height: auto;
      }
    }
  }
}

@include respond-to(medium) {
  .story-view2 {
    text-align: left;
    a {
      img {
        height: 100%;
      }
    }
  }
}
