extends ./layouts/cart.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block cart_content
  main.cart-content
    .breadcrum-section
      .container.padding-0
        a(href='#') <span class="fa fa-angle-double-left"></span> <span>Continue Shopping</span>
    .trust-label-section
      .container.padding-0
        .col-md-8.col-md-offset-2
          .trust-label
            span 
              img(src='images/icons/shield-icon.png' alt="Trusted")
            span KashmirBox is trusted by more than 1 million customers worldwide 
    .box-section
      .container.padding-0
        

