extends ./layouts/cart.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block cart_content
  main.cart-content
    .breadcrum-section
      .container
        a(href='#') <span class="fa fa-angle-double-left"></span> <span>Continue Shopping</span>
    .trust-label-section
      .container.padding-0
        .col-md-8.col-md-offset-3.padding-0
          .trust-label
            span 
              img(src='images/icons/shield-icon.png' alt="Trusted")
            span KashmirBox is trusted by more than 1 million customers worldwide 
    .box-section
      .container.padding-0
        .cart-summary.col-md-4
          .features.hidden-xs
            ul.features-list
              li 
                span.fa.fa-check
                span Authenticity Guaranteed
              li 
                span.fa.fa-lock
                span 100% Safe &amp; Secure Payments Process
              li 
                span.fa.fa-refresh
                span Easy Returns
          .order-summary
            h6 Order Summary
            div
              ul.order-summary-list
                li.item
                  span.item-title KashmirBox Price
                  span.item-value#kbprice(data-price='') 
                li.item.discount-coupon
                  span.item-title Coupon Discount
                  span.item-value() <a href=''>Apply Coupon</a>
                li.item
                  span.item-title TAX Amount
                  span.item-value#taxAmount(data-price='')
                li.item
                  span.item-title Shipping Charges
                  span.item-value(data-price='0') $00
                li.item.total
                  span.item-title Total Amount Payable
                  span.item-value#cartTotal(data-price='')
              .summary-footer
                button.btn.btn-orange.process-checkout-btn Proceed To Checkout
                span (inclusive of shipping, handling and taxes)
                img(src='images/icons/cc-avenue-gateway.png')
        .cart-products.col-md-8
          h6 My Box - <span id="cart-item-count"></span> items
          .empty-cart-msg.hidden
            h3 Your cart is empty
          .box-products#cart-products-wrapper
            .product.clearfix
              .product-img
                img(src='images/cart-product-img.png')
              .product-info
                span.name Koshur Dried Fig 400 Grams (Anjeer)
                span.kbcode KB0017
              .product-counter
                .counter-input
                  span.fa.fa-minus.decrement
                  span 
                    input.form-control(type='number' value='2')
                  span.fa.fa-plus.increment
              .product-price
                span.price-value(data-unit-price='100') $200
                span.tax-value(data-gst-tax-amount='10') + $10 GST
                span.discount-value(data-discount-percent='0')
              .product-delete
                div
                  span.fa.fa-times
            .product.clearfix
              .product-img
                img(src='images/cart-product-img.png')
              .product-info
                span.name Koshur Dried Fig 400 Grams (Anjeer)
                span.kbcode KB0017
              .product-counter
                .counter-input
                  span.fa.fa-minus.decrement
                  span 
                    input.form-control(type='number' value='1')
                  span.fa.fa-plus.increment
              .product-price
                span.price-value(data-unit-price='99') $99
                span.tax-value(data-gst-tax-amount='10') + $10 GST
                span.discount-value(data-discount-percent='5') - 5%
              .product-delete
                div
                  span.fa.fa-times
          .box-offers
            h6 Offers
            .box-offers-content
              p Purchase offers with this cart
              .offer-items
                .offer-item
                  .radio-wrap
                    .radio.radio-primary
                      input#offer-radio123(type='radio' value="1" data-quantity='2' data-unit-price='100', data-gst-tax-amount='50' data-discount-percent='3' data-product-name='Walnut Kernels' data-kbcode='KB0018' data-product-img='images/cart-offer-img.png' data-product-id='123' data-offer-desc="Extra 3% off on Walnut Kernels Light Small Pieces 500 Grams")
                      label(for='offer-radio123')
                  .item-image
                    img(src='images/cart-offer-img.png')
                  .item-info
                    p Extra 3% off on Walnut Kernels Light Small Pieces 500 Grams
                .offer-item
                  .radio-wrap
                    .radio.radio-primary
                      input#offer-radio124(type='radio' value="1" data-quantity='3' data-unit-price='200', data-gst-tax-amount='50' data-discount-percent='5' data-product-name='Walnut Kernels' data-kbcode='KB0019' data-product-img='images/cart-offer-img.png' data-product-id='124' data-offer-desc="Extra 5% off on Walnut Kernels Light Small Pieces 500 Grams")
                      label(for='offer-radio124')
                  .item-image
                    img(src='images/cart-offer-img.png')
                  .item-info
                    p Extra 5% off on Walnut Kernels Light Small Pieces 500 Grams    
              include ./components/giftcard-form.pug        

    .social-impact-section
      .container
        .row.padding-0
          .col-sm-4.img-wrap
            img(src='images/social-impact.png' alt='')
          .col-sm-8
            .content
              h6.title Social impact message heading
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet lectus et fermentum porttitor. Aenean imperdiet massa vel erat aliquet, quis hendrerit augue egestas. Vivamus venenatis, libero at molestie eleifend, nisl lorem egestas velit, in faucibus nunc velit sed lacus. Sed sed ante tincidunt, malesuada erat quis, rhoncus diam. Pellentesque accumsan eget urna vel faucibus. Phasellus aliquet nibh ac leo porta ultricies. Curabitur quis laoreet dui. Phasellus at condimentum enim. Donec consequat tempus justo egestas viverra. Curabitur euismod lobortis enim, at venenatis velit ferme.
