extends ./layouts/category.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block category_content
  //Category Banner
  include components/category-banner.pug
  //Testimonial Section
  include partials/testimonial-section.pug
  //Seen on Section
  include partials/seen-on-section.pug 
