extends ./layouts/checkout.pug
block append app_scripts
  script(src='js/checkout.js' async)
block app_variables
  - var pageTitle = "Kashmir Box";
block checkout_content
  main.checkout-page-content
    .checkout-steps-section
      .container.padding-0
        .checkout-steps.col-sm-8
          include ./partials/checkout-steps.pug

        .checkout-sidebar.col-sm-4
          .features.hidden-xs
            ul.features-list
              li 
                span.fa.fa-check
                span Authenticity Guaranteed
              li 
                span.fa.fa-lock
                span 100% Safe &amp; Secure Payments Process
              li 
                span.fa.fa-refresh
                span Easy Returns
          .order-summary
            h6 Order Summary
            ul.order-summary-list
              li.item
                span.item-title KashmirBox Price
                span.item-value(data-price='846') $846
              li.item
                span.item-title Coupon Discount
                span.item-value(data-price='0') $00
              li.item
                span.item-title TAX Amount
                span.item-value(data-price='80') $80
              li.item
                span.item-title Shipping Charges
                span.item-value(data-price='0') $00
              li.item.total
                span.item-title Total Amount Payable
                span.item-value(data-price='926') $926




