extends ./layouts/index.pug

block app_variables
  - var pageTitle = "Kashmir Box";

block home_content
  main#content
    section.hero-slider-section.row
      include components/hero-slider.pug
    section.artisan-collection-section.row
      .container
        .section-title
          h2.title The Artisan Collection
          p.desc Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.
        .col-md-10.col-md-offset-1  
          include components/artisan-collection-slider.pug
