extends ./layouts/product.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block product_content
  main.product-page-content
    //Breadcrums
    .breadcrums-wrap
      .container
        include components/breadcrums.pug
    // Product Details Section
    section.product-details-section.row
      .container.padding-0
        .left-col.col-md-6.padding-0.clearfix
          //Mobile Slider
          #product-img-slider
            //insert slider content using jquery
          //Large Screen Thumbnail Gallery
          #product-img-gal.clearfix
            a.active(href='#', data-image='images/products/product-img-1.jpg', data-zoom-image='images/products/product-img-1.jpg')
              img#img_01(src='images/products/product-img-1.jpg' alt="Product 1")
            a(href='#', data-image='images/products/product-img-2.jpg', data-zoom-image='images/products/product-img-2.jpg')
              img#img_02(src='images/products/product-img-2.jpg' alt="Product 2")
            a(href='#', data-image='images/products/product-img-1.jpg', data-zoom-image='images/products/product-img-1.jpg')
              img#img_03(src='images/products/product-img-1.jpg' alt="Product 3")
            a(href='#', data-image='images/products/product-img-1.jpg', data-zoom-image='images/products/product-img-1.jpg')
              img#img_04(src='images/products/product-img-2.jpg' alt="Product 4")
          .product-img
            img#product-img(src='images/products/product-img-1.jpg' data-zoom-image="images/products/product-img-1.jpg" alt='Product 1')
            .product-img-footer
              .vendor.col-xs-4
                span Sold by <a href='#' class="name">Naar</a>
              .requests.col-xs-8
                a(href='#') Customise This
                a(href='#') Trade Query
          //For Mobile
          .product-img-footer
              .vendor.col-xs-4
                span Sold by <a href='#' class="name">Naar</a>
              .requests.col-xs-8
                a(href='#') Customise This
                a(href='#') Trade Query
        .right-col.col-md-6.padding-0
          .col-xs-12
            h3.product-name Black Maroon Swarovski Stole
            .rating
              - var rating = 4
              while rating-- > 0
                span.fa.fa-star
            p.reviews
              a(href='#product-reviews-section') (17 Reviews)
            .price
              h5.price-value $3,096
          .product-details.col-sm-6.col-md-7
            p.heading Product details
            ul.detail-list.clearfix
              li
                span.kbcode KB Code
                span KBF0285
              li
                span.material Fabric
                span Summer Wool
              li
                span.color Color
                span Black, Maroon
              li
                span.size Size
                span 70xm x 200cm
              li
                span.embroidery Embroidery
                span Swarovski
              li
                span.care Care
                span Dry Clean Only
              li
                span.stock Availibility
                span 4  
            p.heading Build pack
              ul.build-pack-list.clearfix
                li
                  a(href='#')
                    span.fa.fa-rocket
                li
                  a(href='#')
                    span.fa.fa-rocket
                li
                  a(href='#')
                    span.fa.fa-rocket
                li
                  a(href='#')
                    span.fa.fa-rocket
            p.heading Share this product
              ul.social-share-list.clearfix
                li
                  a.fb(href='#')
                    span.fa.fa-facebook
                li
                  a.tw(href='#')
                    span.fa.fa-twitter
                li
                  a.gp(href='#')
                    span.fa.fa-google-plus
                li
                  a.pt(href='#')
                    span.fa.fa-pinterest
          .extra-options.col-sm-6.col-md-5
            .option.pincode
              p.heading Check delivery options
              .form-group.has-success.has-feedback
                input#inputSuccess2.form-control(type='text', aria-describedby='inputSuccess2Status')
                span.fa.fa-check.form-control-feedback(aria-hidden='true')
                span#inputSuccess2Status.sr-only (success)
            .option
              p.heading Choose the suit type
              .selector
                .arrow
                  span.fa.fa-caret-down
                select
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
            .option
              p.heading Choose the suit type
              .selector
                .arrow
                  span.fa.fa-caret-down
                select
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
            .option.product-quantity.clearfix
              p.heading Quantity
              .number-input
                input#product-quantity-input.form-control(type='number' value='1' data-target='#total-price-input')
                .counter
                  span.fa.fa-angle-up.increment
                  span.fa.fa-angle-down.decrement
            .option.total-price.clearfix
              p.heading Total Price
              .form-group
                input#total-price-input.form-control(data-unit-price='3096' data-total='3096' value='$3,096' readonly)
            .add-to-cart
              a.btn.btn-primary.add-to-cart-btn
                span.fa.fa-shopping-bag 
                span Add to your box
              a.btn.btn-white.add-to-wishlist(data-product-id='123')
                span.fa.fa-heart-o
        .footer-col.col-md-9.padding-0
          .about
            p.title(href='#') Description <span data-toggle="collapse" data-target="#product-desc" href="#product-desc" class="fa fa-minus-circle toggle-details"></span>
            #product-desc.collapse.in
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus odio massa, ac luctus massa consequat id. Curabitur id tortor ut justo lobortis finibus. In gravida, ante et efficitur fringilla, sem sapien tempus nisi, ac malesuada eros mi imperdiet erat. Vestibulum est ex, porttitor sit amet convallis quis, gravida et libero. Ut maximus, erat a tempus pellentesque, sapien diam cursus tortor, at accumsan nunc ligula vitae quam. 
          .shipping-details
            p.title(href='#') Shipping <span data-toggle="collapse" data-target="#product-shipping-details" href="#product-shipping-details" class="fa fa-minus-circle toggle-details"></span>
            #product-shipping-details.collapse.in
              p
                span.light-text Estimated Arrival: 
                span Between 0 to India 
              p 
                span.light-text Return Policy:  
                span Returns Accepted Within 7 Days Of Delivery. No Returns for On Sale Products. 
              p
                span.light-text Availability:   
                span Ships Internationally 
          .seller-details
            p.title(href='#') Seller Details <span data-toggle="collapse" data-target="#product-seller-details" href="#product-seller-details" class="fa fa-minus-circle toggle-details"></span>
            #product-seller-details.collapse.in
              p mi imperdiet erat. Vestibulum est ex, porttitor sit amet convallis quis, gravida et libero. Ut maximus, erat a tempus. mi imperdiet erat. Vestibulum est ex, porttitor sit amet convallis quis, gravida et libero. Ut maximus, erat a tempus  
      .add-to-cart-mobile.visible-xs
        a.btn.btn-primary.add-to-cart-btn(href='#') <span class="fa fa-shopping-bag"></span> ADD TO YOUR BOX
    section#product-reviews-section
      .container.padding-0

    // Related Products Section
    section.related-products-section.row
      .container
        .section-title
          h2.title You May Also Like
          p.desc Health. Exotic Indulgence. Stylish Apparels.
      .product-slider-wrap
        - var productSliderId = 'related-product-slider';
        include components/product-slider.pug
    //Testimonial Section
    include partials/testimonial-section.pug
    //Seen on Section
    include partials/seen-on-section.pug
