@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/bootstrap',
  'vendor/slick.scss',
  'vendor/slick-theme.scss';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/tagline';

// 5. Components
@import
  'components/button',
  'components/kbsearch',
  'components/newsletter-form',
  'components/social-connect',
  'components/hero-slider',
  'components/artisan-collection-slider',
  'components/masonary-gallery',
  'components/product-slider';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
